.Footer {
	width: 100%;
	background: #1a1a25;
	.content {
		display: flex;
		flex-wrap: wrap;
		margin-top: 70px;
		display: flex;
		justify-content: space-between;

		@media (max-width: 500px) {
			margin-top: 50px;
		}
		p {
			color: #ffffff;
			font-size: 16px;
			font-weight: 500;
			line-height: 140%;
			// cursor: pointer;
		}
		p {
			color: #858fa4;
			font-size: 16px;
			font-weight: 500;
			line-height: 130%;
			cursor: pointer;
			transition: 0.2s;

			&:hover {
				color: white;
				font-size: 16px;
				font-weight: 500;
			}
		}
		.link {
			color: #858fa4;
			font-size: 16px;
			font-weight: 500;
			line-height: 130%;

			transition: 0.2s;

			&:hover {
				color: white;
				font-size: 16px;
				font-weight: 500;
			}
		}
		.firstContainer {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 821px;
			display: flex;
			gap: 80px;

			@media (max-width: 500px) {
				gap: 40px;
				margin-bottom: 40px;
			}
			.first_footer_div {
				display: flex;
				flex-direction: column;
				gap: 40px;
				width: 100%;
				max-width: 210px;

				@media (max-width: 500px) {
					gap: 20px;
				}

				.hh5 {
					display: flex;
					flex-direction: column;
					gap: 15px;
				}
			}
			.second_footer_div {
				display: flex;
				flex-direction: column;
				gap: 40px;
				width: 100%;
				max-width: 210px;
				.hh5 {
					display: flex;
					flex-direction: column;
					gap: 15px;
				}

				@media (max-width: 500px) {
					gap: 20px;
				}
			}
			.third_footer_div {
				display: flex;
				flex-direction: column;
				gap: 40px;
				width: 100%;
				max-width: 210px;

				.hh5 {
					display: flex;
					flex-direction: column;
					gap: 15px;
				}

				@media (max-width: 500px) {
					gap: 20px;
				}
			}
		}
		.last_footer_div {
			display: flex;
			flex-direction: column;
			gap: 60px;
			.fourth_footer_div {
				.SubsInputButton {
					display: flex;
					flex-direction: column;
					gap: 16px;
					.promoDiscount {
						color: rgb(255, 255, 255);
						font-size: 16px;
						font-weight: 400;
						line-height: 130%;
						letter-spacing: 0%;
						text-align: left;
						@media (max-width: 1227px) {
							margin-top: 10px;
						}
					}
					.flex_input_button {
						display: flex;
						justify-content: center;
						align-items: center;
						.emailInput {
							padding: 12px 15px;
							width: 100%;
							max-width: 246px;
							color: black;
							border-radius: 4px 0px 0px 4px;
							background: rgb(255, 255, 255);
							border: none;
							&:focus {
								border: none;
							}
						}
						.subscribeButton {
							padding: 8px 35px 12px 35px;
							border-radius: 0px 4px 4px 0px;
							background: rgb(203, 17, 171);
							border: none;
							color: white;
							font-size: 16px;
							font-weight: 500;
							line-height: 20px;
							letter-spacing: 0%;

							cursor: pointer;
						}
					}
					.errorInput {
						border: 1px solid red;
						&:focus {
							border: 1px solid red;
						}
					}
					.addSubscrib {
						color: rgb(255, 255, 255);
						font-size: 14px;
						font-weight: 300;
						line-height: 150%;
						letter-spacing: 0%;
					}
				}
			}
			.fifth_footer_div {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				gap: 20px;

				.icon {
					display: flex;
					gap: 10px;
					justify-content: center;
					align-items: center;

					color: #858fa4;
					transition: 0.2s;

					&:hover {
						color: white;
					}
				}
			}
		}
	}
	.gadget {
		.rectangle_hr {
			margin-top: 120px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			max-width: 90%;
			height: 0.99px;
			background: #858fa426;

			@media (max-width: 500px) {
				margin-top: 60px;
			}
		}
		.gadgetIcon {
			cursor: pointer;
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 20px;
			@media (max-width: 500px) {
				margin-top: 50px;
			}
			.div {
				margin-bottom: 20px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				gap: none;

				@media (max-width: 500px) {
					margin-top: 10px;
				}
				p {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					max-width: 320px;
					color: #858fa4;
					font-size: 16px;
					font-weight: 500;
					line-height: 130%;

					@media (max-width: 500px) {
						display: flex;
						text-align: center;
						font-size: 16px;
						font-weight: 500;
						line-height: 100%;
					}
				}
			}
		}
	}
}
