.ContainerStore {
	display: flex;
	gap: 0.7rem;
	align-items: center;
	flex-wrap: wrap;
	.divProductMap {
		box-shadow: 0px 0px 1px black;
		background-color: #ffffff;
		border-radius: 4px;
		width: 14.7rem;
		height: 28rem;
		display: flex;
		flex-direction: column;

		padding-block: 0.7rem;
		padding-inline: 0.7rem;
		gap: 8px;

		@media (max-width: 600px) {
			height: auto;
			width: 12rem;
		}
		.divIcons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.divIcons2 {
				display: flex;
				align-items: center;
				gap: 0.6rem;
				.imgIcon {
					width: 1.2rem;
					height: auto;
				}
			}
		}
		.divImg {
			display: flex;
			justify-content: center;
			align-items: center;
			.imgProduct {
				width: 8.2rem;
				height: 11.7rem;
				@media (max-width: 600px) {
					width: 81%;
					height: auto;
				}
			}
		}
		.divProductContents {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 0.2rem;
			@media (max-width: 600px) {
				gap: 6px;
			}
			.tagColorGreen {
				color: #2fc509;
				font-size: clamp(0.4rem, 5vw, 0.6rem);
			}
			h3 {
				color: #292929;
				font-size: clamp(0.7rem, 6vw, 0.9rem);
			}
			p {
				display: flex;
				align-items: center;
				gap: 1px;
				color: #909cb5;
				font-size: clamp(0.4rem, 5vw, 0.6rem);
			}
			.divButtonsAndPrice {
				display: flex;
				align-items: center;
				gap: 1rem;
				@media (max-width: 600px) {
					display: flex;
					flex-direction: column;
					gap: 5px;
					align-items: start;
				}
				.productPrice {
					display: flex;
					flex-direction: column;
					@media (max-width: 600px) {
						display: flex;
						align-items: center;
					}
					h2 {
						color: #292929;
						font-size: clamp(0.7rem, 7vw, 0.91rem);
					}
					p {
						text-decoration: line-through;
						color: #909cb5;
						font-size: clamp(0.6rem, 3.7vw, 0.9rem);
					}
				}
			}
		}
	}
	.divProductMap2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.4rem;
		// padding-inline: 10px;
		// padding-block: 10px;
		@media (max-width: 638px) {
			padding-block: 5px;
			padding-inline: 5px;
		}
		.imgProduct {
			width: 9.2rem;
			height: 12.7rem;

			@media (max-width: 668px) {
				width: 24%;
				height: auto;
			}
			@media (max-width: 557px) {
				width: 29%;
				height: auto;
				padding-left: 4px;
			}
		}
		.divIcons22 {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 0.6rem;
			@media (max-width: 600px) {
				gap: 7px;
			}
			.divMobile1 {
				display: flex;
				gap: 9rem;
				align-items: center;
				@media (max-width: 600px) {
					gap: 7rem;
				}
				.newProduct {
					@media (max-width: 600px) {
						width: 4px;
						height: 4px;
					}
				}
				.divIcons2 {
					display: flex;
					align-items: center;
					gap: 6px;
					@media (max-width: 600px) {
						gap: 4px;
					}
				}
			}
			.divMobile2 {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 6px;
				@media (max-width: 600px) {
					gap: 4px;
				}
				.tagColorGreen2 {
					color: #2fc509;
					font-size: clamp(0.4rem, 4vw, 0.6rem);
				}
				h3 {
					color: #292929;
					font-size: clamp(0.4rem, 5vw, 0.9rem);
				}
				p {
					display: flex;
					align-items: center;
					gap: 4px;
					color: #909cb5;
					font-size: clamp(0.5rem, 4vw, 0.6rem);
				}
			}
			.divMobile3 {
				display: flex;
				align-items: center;
				gap: 6px;
				@media (max-width: 600px) {
					gap: 4px;
				}
				.product {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 5px;

					h2 {
						color: #292929;
						font-size: clamp(0.4rem, 6vw, 0.8rem);
					}
					p {
						text-decoration: line-through;
						color: #909cb5;
						font-size: clamp(0.5rem, 3vw, 0.7rem);
					}
				}
			}
		}
	}
}
