.ContactsPage {
	width: 100%;
	height: auto;
	background: rgb(244, 244, 244);
	.content {
		padding-top: 3.1rem;
		padding-bottom: 6.7rem;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		.content_page {
			display: flex;
			flex-direction: column;
			gap: 30px;
			p {
				display: flex;
				align-items: center;
				color: rgb(145, 150, 158);
				font-size: clamp(0.5rem, 4vw, 0.8rem);
				gap: 5px;
				cursor: pointer;
				h3 {
					color: rgba(56, 66, 85, 0.6);
					font-size: clamp(0.5rem, 4vw, 0.8rem);
				}
			}
			.contacts_div_text_and_border_div {
				display: flex;
				flex-direction: column;
				gap: 18px;
				h2 {
					color: rgb(41, 41, 41);
					font-size: clamp(1.4rem, 5vw, 1.7rem);
				}
				div {
					width: 100%;
					height: 1px;
					border: 1px solid rgb(205, 205, 205);
				}
			}
		}
		.ContactsPage_content_center_text_and_form {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.contents_div_center {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 2.3rem;
				p {
					color: rgb(41, 41, 41);
					font-size: clamp(1.2rem, 5vw, 1.5rem);
				}
				.texts_center_contents {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 1.1rem;
					.text_div_1 {
						display: flex;
						flex-direction: column;
						align-items: start;
						gap: 5px;
						h3 {
							color: rgb(41, 41, 41);
							font-size: clamp(0.8rem, 7vw, 1.1rem);
						}
						p {
							color: rgb(41, 41, 41);
							font-size: clamp(0.8rem, 4vw, 1.1rem);
						}
					}
				}
			}
			.forms {
				display: flex;
				flex-direction: column;
				gap: 38px;
				h2 {
					color: rgb(41, 41, 41);
					font-size: clamp(1.1rem, 7vw, 1.4rem);
				}
				.div_form {
					display: flex;
					flex-direction: column;
					gap: 12px;
					.div_form_and_label {
						display: flex;
						align-items: center;
						gap: 11.5px;
						.input_and_label_div {
							display: flex;
							flex-direction: column;
							gap: 7px;
							label {
								color: rgb(56, 66, 85);
								font-size: clamp(0.7rem, 4vw, 1rem);
							}
							.input {
								width: 20.4rem;
								height: 2.5rem;
							}
						}
					}
					.message_and_label_div {
						display: flex;
						flex-direction: column;
						gap: 7px;
						label {
							color: rgb(56, 66, 85);
							font-size: clamp(0.7rem, 4vw, 1rem);
						}
						.input_for_message {
							width: 100%;
							height: 8.6rem;
						}
					}
          p {
            color: rgb(243, 14, 14);
            font-size: clamp(0.8rem, 5vw, 1.1rem);
            
          }
					.buttonSubmit {
						height: 2.7rem;
						color: rgb(255, 255, 255);
						border-radius: 4px;
						background: rgb(203, 17, 171);
					}
				}
			}
		}
	}
}
