.divAccessories {
	display: flex;
	align-items: center;
	// flex-wrap: wrap;
	gap: 11px;
	@media (max-width: 600px) {
		gap: 8px;
	}
	.divAccessoriesProduct {
		display: flex;
		flex-direction: column;
		border-radius: 4px;
		width: 13.1rem;
		height: 22.1rem;
		background-color: #ffffff;
		@media (max-width: 600px) {
			width: 10rem;
			height: auto;
		}
		.img {
			@media (max-width: 600px) {
				width: 100%;
				height: auto;
				border-radius: 4px;
			}
		}
		.productsDiv {
			display: flex;
			flex-direction: column;
			padding-block: 1.2rem;
			padding-inline: 1.2rem;
			gap: 1.1rem;
			@media (max-width: 600px) {
				padding-block: 0.8rem;
				padding-inline: 0.8rem;
				gap: 0.8rem;
			}
			p {
				color: #292929;
				font-size: clamp(0.6rem, 8vw, 0.8rem);
			}
			.p {
				color: #909cb5;
				font-size: clamp(0.5rem, 4vw, 0.7rem);
				display: flex;
				align-items: center;
				gap: 4px;
			}
			h2 {
				color: #292929;
				font-size: clamp(0.9rem, 7vw, 1.1rem);
			}
		}
	}
}
