.content {
	width: 29.625rem;
	text-align: center;
	font-family: Inter;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.heading {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.375rem;
}

.description {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.188rem;
	margin-top: 1.5rem;
	color: #ccc; // replace with your theme's tertiary.middleGray
	border-bottom: 1px solid #ddd; // replace with your theme's tertiary.lightGray
	padding-bottom: 1.25rem;
}

.score {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.188rem;
	color: #888; // replace with your theme's tertiary.darkerGray
	margin-top: 1.5rem;

	> span {
		color: #333; // replace with your theme's primary.dark
	}
}

.card_element {
	width: 25.875rem;
	height: 2.438rem;
	border: 1px solid #c4c4c4;
	padding-top: 0.65rem;
	padding-left: 5px;
}

.total {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.375rem;
	color: #333; // replace with your theme's primary.dark
	margin-top: 0.875rem;
	margin-bottom: 1rem;

	> span {
		font-weight: 600;
	}
}

.Payment {
	.content {
		width: 100%;
		display: flex;
		justify-content: center;
		.payment_container {
			display: flex;
			flex-direction: column;
			max-width: 700px;
			width: 100%;
			padding: 20px 40px;
			height: 100%;
			form {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px 0px;
				.book_button {
					margin-top: 10px;
					cursor: pointer;
					width: 445px;
					height: 45px;
					background: rgb(203, 17, 171);
					border-radius: 6px;
					border: none;
					color: rgb(255, 255, 255);
					font-size: 16px;
					font-weight: 600;
					text-align: center;
					text-transform: capitalize;
					@media (max-width: 511px) {
						width: 270px;
					}
				}

				.images {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					img {
						width: 40px;
					}
				}
			}
		}
	}
}
