.ProductsNew {
	.new {
		margin-top: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		.title {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 30px;
			.product_cards {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 20px;
				@media (max-width: 1565px) {
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					gap: 20px;
				}
				@media (max-width: 1243px) {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 20px;
				}
				@media (max-width: 946px) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 20px;
				}
				@media (max-width: 628px) {
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					gap: 20px;
				}
				.div_product_map {
					box-shadow: 0px 0px 3.5px black;
					background-color: #ffffff;
					border-radius: 4px;
					width: 290px;
					height: 480px;
					display: flex;
					flex-direction: column;
					padding-block: 12px;
					padding-inline: 12px;
					gap: 17px;
					position: relative;
					@media (max-width: 330px) {
						height: auto;
						width: 1vw;
					}
					@media (max-width: 628px) {
						height: auto;
						width: 60vw;
					}
					@media (max-width: 550px) {
						height: auto;
						width: 300px;
					}
					.div_icons {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.minus_promotion {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							background: rgb(47, 197, 9);
							display: flex;
							justify-content: center;
							align-items: center;
							color: rgb(255, 255, 255);
							font-family: Inter;
							font-size: 12px;
							font-weight: 900;
							line-height: 15px;
							letter-spacing: 0%;
							text-align: left;
							text-transform: uppercase;
						}
						.div_two_icons {
							display: flex;
							align-items: center;
							gap: 16px;
							button {
								width: 26px;
								border: none;
								background: transparent;
								color: gray;
							}
							.scale {
								cursor: pointer;
								&:hover {
									color: #cb11ab;
								}

								&.active {
									color: #cb11ab;
									transition: all 0.5s ease-in;
								}
							}
							.heart {
								cursor: pointer;
								&:hover {
									color: #cb11ab;
								}
							}
						}
					}
					.div_img {
						display: flex;
						justify-content: center;
						align-items: center;
						.img_product {
							width: 220px;
							height: 260px;
							cursor: pointer;
							@media (max-width: 600px) {
								width: 190px;
								height: 200px;
							}
						}
					}
					.div_product_contents {
						margin-top: 10px;
						display: flex;
						flex-direction: column;
						align-items: start;
						gap: 4px;
						@media (max-width: 600px) {
							gap: 28px;
							margin-top: 0;
						}
						.tag_color_green {
							color: #2fc509;
							font-size: 12px;
						}
						h3 {
							color: #292929;
							font-size: 16px;
						}
						p {
							display: flex;
							align-items: center;
							gap: 9px;
							color: #909cb5;
							font-size: 12px;
						}
						.div_buttons_and_price {
							display: flex;
							align-items: center;
							gap: 43px;
							@media (max-width: 600px) {
								display: flex;
								flex-direction: column;
								gap: 28px;
								align-items: start;
							}
							.product_price {
								display: flex;
								flex-direction: column;
								@media (max-width: 600px) {
									display: flex;
									align-items: center;
								}
								h2 {
									color: #292929;
									font-size: 18px;
								}
								p {
									text-decoration: line-through;
									color: #909cb5;
									font-size: 14px;
								}
							}
							.add_bas_button_active {
								cursor: pointer;
								border-radius: 4px;
								width: 135px;
								height: 44px;
								background: #2fc509;
								color: #ffffff;
								font-family: Inter;
								font-size: 12px;
								border: none;
								font-weight: 500;
								line-height: 17px;
								letter-spacing: 0%;
								text-align: center;
								text-transform: uppercase;
								@media (max-width: 600px) {
									padding: 8px 15px 8px 15px;
								}
								@media (max-width: 550px) {
									padding: 5px 10px 5px 10px;
									font-size: 10px;
									font-weight: 400;
								}
							}
							.active {
								cursor: pointer;
								border: none;
								border-radius: 4px;
								padding: 9px 15px 9px 15px;
								background: #2fc509;
								color: white;
								font-family: Inter;
								font-size: 11px;
								font-weight: 500;
								line-height: 15px;
								letter-spacing: 0%;
								text-align: center;
								text-transform: uppercase;
								@media (max-width: 600px) {
									padding: 8px 15px 8px 15px;
								}
								@media (max-width: 550px) {
									padding: 5px 10px 5px 10px;
									font-size: 10px;
									font-weight: 400;
								}
							}
							.add_bas_button {
								cursor: pointer;
								border: 1px solid #cb11ab;
								border-radius: 4px;
								padding: 10px 17px 10px 17px;
								background: #cb11ab;
								color: #ffffff;
								font-family: Inter;
								font-size: 12px;
								font-weight: 500;
								line-height: 17px;
								letter-spacing: 0%;
								text-align: center;
								text-transform: uppercase;
								@media (max-width: 600px) {
									padding: 8px 15px 8px 15px;
								}
								@media (max-width: 550px) {
									padding: 5px 10px 5px 10px;
									font-size: 10px;
									font-weight: 400;
								}

								&:hover {
									color: white;
									border: none;
									border: 1px dashed #9747ff;
									transition: all 0.5s ease-in;
								}
							}
						}
					}
				}
			}
		}
	}
	.show_more_button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


