.productContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	// flex-wrap: wrap;
	@media (max-width: 1100px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-inline: 1rem;
	}
	.productPhotoDiv {
		display: flex;
		flex-direction: column;
		gap: 5.3rem;
		@media (max-width: 600px) {
			gap: 1rem;
		}
		.image {
			width: auto;
			height: 21.8rem;
			cursor: pointer;
			// position: absolute;
			object-fit: cover;
			object-position: center;
			@media (max-width: 900px) {
				width: auto;
				height: 17rem;
			}
			// position: relative;
			// top: 2rem;
		}
		.divphotos {
			display: flex;
			align-items: center;
			gap: 10px;
			.buttonIcon {
				height: 1.5rem;
				width: 0.4rem;
				cursor: pointer;
			}
			.buttonIcon2 {
				height: 1.5rem;
				width: 0.4rem;
				transform: rotate(180deg);
				cursor: pointer;
			}
			.divImage {
				border: none;
				width: 3.7rem;
				height: 3.7rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				@media (max-width: 600px) {
					width: 2.6rem;
					height: 2.6rem;
				}
				&.active {
					box-sizing: border-box;
					border: 1px solid rgb(203, 17, 171);
				}
				img {
					height: 2.5rem;
					width: auto;
					cursor: pointer;
					@media (max-width: 600px) {
						height: 2rem;
						width: auto;
					}
				}
			}
		}
	}
	.productContentsDiv {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 2.5rem;
		@media (max-width: 700px) {
			gap: 7px;
			width: 100%;
			padding-top: 10px;
		}
		h3 {
			color: rgb(41, 41, 41);
			font-size: clamp(1.2rem, 5vw, 1.6rem);
		}
		.productDivInto1 {
			display: flex;
			flex-direction: column;
			.divProduct {
				display: flex;
				align-items: center;
				gap: 6.6rem;
				@media (max-width: 600px) {
					// display: flex;
					// flex-direction: column;
					// align-items: center;
					gap: 0;
					// width: 100%;
				}
				.p {
					color: rgb(47, 197, 9);
					font-size: clamp(0.7rem, 5vw, 1rem);
				}
				p {
					color: rgb(41, 41, 41);
					font-size: clamp(0.7rem, 5vw, 1rem);
				}
				.DivRating {
					display: flex;
					align-items: center;
					gap: 2px;
					color: rgb(144, 156, 181);
					font-size: clamp(0.7rem, 5vw, 1rem);
					@media (max-width: 555px) {
						gap: 1px;
					}
				}
			}
			.bordweDiv {
				margin-top: 10px;
				width: 100%;
				border: 1px solid rgb(205, 205, 205);
			}
		}
		.productDivInto2 {
			display: flex;
			flex-direction: column;
			align-items: start;
			@media (max-width: 700px) {
				width: 100%;
			}
			.divProductPrice {
				display: flex;
				align-items: center;
				gap: 5.5rem;
				@media (max-width: 650px) {
					gap: 5px;
					display: flex;
					flex-direction: column;
					align-items: start;
				}
				h3 {
					color: rgb(41, 41, 41);
					font-size: clamp(0.7rem, 8vw, 1rem);
				}
				.priceProduct {
					display: flex;
					align-items: center;
					gap: 13.8px;
					img {
						width: 1.9rem;
						height: 1.9rem;
					}
					h2 {
						color: rgb(41, 41, 41);
						font-size: clamp(1.3rem, 7vw, 1.6rem);
					}
					h4 {
						color: rgb(144, 156, 181);
						text-decoration: line-through;
						font-size: clamp(0.8rem, 7vw, 1.1rem);
					}
				}
			}
			.ColorsAndQuantity {
				display: flex;
				align-items: start;
				gap: 1.5rem;
				flex-direction: column;
				@media (max-width: 650px) {
					gap: 0.5rem;
				}
				.divProductButtonsAndQuantity {
					display: flex;
					align-items: center;
					gap: 4.3rem;
					.divColors {
						display: flex;
						align-items: center;
						gap: 5px;
					}
					.productsAndPluesMinuesQuantity {
						display: flex;
						align-items: center;
						gap: 4.5px;
						button {
							cursor: pointer;
							box-sizing: border-box;
							width: 1.6rem;
							height: 1.6rem;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							border: 1px solid rgb(144, 156, 181);
							color: rgb(56, 66, 85);
							background-color: transparent;
							&:hover {
								transition: all 0.2s ease;
								background: rgb(56, 66, 85);
								color: rgb(255, 255, 255);
							}
						}
						span {
							color: rgb(144, 156, 181);
							font-size: clamp(0.9rem, 4vw, 1.2rem);
						}
					}
				}
				.BrieflyAboutTheProduct {
					display: flex;
					align-items: start;
					// gap: 6.1rem;
					gap: 5.7rem;
					@media (max-width: 650px) {
						display: flex;
						flex-direction: column;
						gap: 1.3rem;
					}
					.intoForProduct {
						display: flex;
						flex-direction: column;
						align-items: start;
						gap: 4.5px;
						h3 {
							color: rgb(41, 41, 41);
							font-size: clamp(0.7rem, 7vw, 1rem);
						}
						.divProductInto {
							display: flex;
							align-items: center;
							gap: 3px;
							color: #b3b0b0;
							h6 {
								color: rgb(41, 41, 41);
								font-size: clamp(0.7rem, 5vw, 1rem);
							}
						}
					}
					.buttonsDiv {
						display: flex;
						align-items: center;
						gap: 10px;
						button {
							padding-block: 0.6rem;
							padding-inline: 1.1rem;
							box-sizing: border-box;
							display: flex;
							// background-color: aliceblue;
							align-items: center;
							justify-content: center;
							border: 1px solid rgb(144, 156, 181);
							border-radius: 4px;
						}
					}
				}
			}
		}
	}
}

.contentsModal {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
	// background: rgb(255, 255, 255);
	padding-top: 1.8rem;
	padding-bottom: 1.3rem;
	padding-inline: 4.5rem;
	align-items: center;
	justify-content: start;
	.modalNooDiv {
		position: absolute;
		left: 61rem;
		cursor: pointer;
	}
	.divModal1 {
		display: flex;
		// justify-content: space-between;
		align-items: center;
		gap: 5rem;
		img {
			width: auto;
			height: 15.9rem;
		}
	}
	.divModal2 {
		display: flex;
		align-items: center;
		gap: 15.5px;
		.divImage {
			border: none;
			width: 3.7rem;
			height: 3.7rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
			&.active {
				box-sizing: border-box;
				border: 1px solid rgb(203, 17, 171);
			}
			img {
				height: 2.5rem;
				width: auto;
				cursor: pointer;
			}
		}
	}
}
