.ProductsPromotion {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-start;
		gap: 30px;
		.promotion {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}
		.product_cards {
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			.div_product_map {
				box-shadow: 0px 0px 3.5px black;
				background-color: #ffffff;
				border-radius: 4px;
				width: 290px;
				height: 480px;
				display: flex;
				flex-direction: column;
				padding-block: 12px;
				padding-inline: 12px;
				gap: 11px;
				position: relative;
				@media (max-width: 600px) {
					height: auto;
					width: 224px;
				}
				@media (max-width: 550px) {
					height: auto;
					width: 300px;
				}
				.div_icons {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.minus_promotion {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						background: rgba(241, 0, 0, 0.8);
						display: flex;
						justify-content: center;
						align-items: center;
						color: rgb(255, 255, 255);
						font-family: Inter;
						font-size: 12px;
						font-weight: 900;
						line-height: 15px;
						letter-spacing: 0%;
						text-align: left;
						text-transform: uppercase;
					}
					.div_two_icons {
						display: flex;
						align-items: center;
						gap: 16px;
						button {
							width: 26px;
							border: none;
							background: transparent;
							color: gray;
						}
						.scale {
							cursor: pointer;

							&.active {
								color: #cb11ab;
								transition: all 0.5s ease-in;
							}
						}
						.heart {
							cursor: pointer;
						}
					}
				}
				.div_img {
					display: flex;
					justify-content: center;
					align-items: center;
					.img_product {
						width: 180px;
						height: 235px;
						@media (max-width: 600px) {
							width: 184px;
							height: auto;
						}
					}
				}
				.div_product_contents {
					margin-top: 10px;
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 4px;
					@media (max-width: 600px) {
						gap: 28px;
						margin-top: 0;
					}
					.tag_color_green {
						color: #2fc509;
						font-size: 12px;
					}
					h3 {
						color: #292929;
						font-size: 16px;
					}
					p {
						display: flex;
						align-items: center;
						gap: 9px;
						color: #909cb5;
						font-size: 12px;
					}
					.div_buttons_and_price {
						display: flex;
						align-items: center;
						gap: 56px;
						@media (max-width: 600px) {
							display: flex;
							flex-direction: column;
							gap: 28px;
							align-items: start;
						}
						.product_price {
							display: flex;
							flex-direction: column;
							@media (max-width: 600px) {
								display: flex;
								align-items: center;
							}
							h2 {
								color: #292929;
								font-size: 18px;
							}
							p {
								text-decoration: line-through;
								color: #909cb5;
								font-size: 14px;
							}
						}
						.add_bas_button {
							cursor: pointer;
							border: 1px solid #cb11ab;
							border-radius: 4px;
							padding: 10px 17px 10px 17px;
							background: rgb(203, 17, 171);
							color: rgb(255, 255, 255);
							font-family: Inter;
							font-size: 12px;
							font-weight: 500;
							line-height: 17px;
							letter-spacing: 0%;
							text-align: center;
							text-transform: uppercase;
							@media (max-width: 600px) {
								padding: 8px 15px 8px 15px;
							}
							@media (max-width: 550px) {
								padding: 5px 10px 5px 10px;
								font-size: 10px;
								font-weight: 400;
							}
							&.active {
								background: rgb(47, 197, 9);
								color: white;
								border: none;
								border: 1px dashed rgb(151, 71, 255);
							}
							&:hover {
								color: white;
								border: none;
								border: 1px dashed rgb(151, 71, 255);
								transition: all 0.5s ease-in;
							}
						}
					}
				}
			}
		}
	}
	.show_more_button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
