.slider {
	margin-top: 50px;
	.skeleton {
		width: 1350px;
		height: 450px;
		color: gray;
	}
	.background {
		
		.content {
			display: flex;
			justify-content: space-around;
			align-items: center;
			
			.iphoneImg {
				width: 100%;
				height: auto;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	.dots {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-top: 20px;

		.active {
			border-radius: 100%;
			height: 11px;
			width: 0.1px;
			border: none;
			background-color: rgba(203, 17, 171, 0.3);
			cursor: pointer;
		}

		.dot {
			border-radius: 100%;
			height: 15px;
			width: 15px;
			border: none;
			background-color: rgba(203, 17, 171, 1);
			cursor: pointer;
		}
	}

	// @media ((max-width: 630px) and (min-width: 0px)) {
	// 	.background {
	// 		background-color: #e7e8ee;
	// 		height: 350px;
	// 	}
	// }
}
