.slider {
	margin-top: 50px;
	.image_slider {
		img {
			width: 100%;
			max-width: 1920px;
			height: 600px;
			@media (max-width: 1450px) {
				height: 520px;
			}
			@media (max-width: 1000px) {
				height: 460px;
			}
			@media (max-width: 700px) {
				height: 340px;
			}
			@media (max-width: 500px) {
				height: 280px;
			}
			@media (max-width: 430px) {
				height: 200px;
			}
		}
	}
	.dots {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-top: 20px;
		.active {
			border-radius: 100%;
			height: 11px;
			width: 0.1px;
			border: none;
			background-color: rgba(203, 17, 171, 0.3);
			cursor: pointer;
		}

		.dot {
			border-radius: 100%;
			height: 15px;
			width: 15px;
			border: none;
			background-color: rgba(203, 17, 171, 1);
			cursor: pointer;
		}
	}

	// @media ((max-width: 630px) and (min-width: 0px)) {
	// 	.background {
	// 		background-color: #e7e8ee;
	// 		height: 350px;
	// 	}
	// }
}
