.slider {
  .background {
    background-color: #E7E8EE;
    height: 500px;

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media ((max-width: 900px) and (min-width: 629px)) {
        .description {
          margin-top: 75px;
        }

      }

      @media ((max-width: 630px) and (min-width: 0px)) {
        .description {
          margin-top: 50px;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 20px;

          h2 {
            color: rgba(203, 17, 171, 1);
            font-weight: 900;
            font-size: 25px;
            text-transform: uppercase;
          }
          
          h1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 450px;
            color: rgba(26, 26, 37, 1);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 40px;
            
            
            span {
              font-weight: 400;
            }
          }
          
        @media ((max-width: 630px) and (min-width: 0px)) {
          h2 {
            color: rgba(203, 17, 171, 1);
            font-weight: 900;
            font-size: 15px;
            text-transform: uppercase;
          }
          
          h1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 220px;
            color: rgba(26, 26, 37, 1);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 20px;

            
            span {
              font-weight: 400;
            }
          }
        }
        
        @media ((max-width: 900px) and (min-width: 629px)) {
          h2 {
            color: rgba(203, 17, 171, 1);
            font-weight: 900;
            font-size: 20px;
            text-transform: uppercase;
          }

          h1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 400px;
            color: rgba(26, 26, 37, 1);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 30px;


            span {
              font-weight: 400;
            }
          }
        }
      }

      .pink_vector {
        position: absolute;
        top: 407px;
        right: 250px;
      }
      
      .iphoneImg {
        position: relative;
        top: 20px;
        
      }

      @media ((max-width: 900px) and (min-width: 300px)) {
        .pink_vector {
          position: absolute;
          right: 100px;
          top: 424px;
          width: 900px;
        }
        
        .iphoneImg {
          position: relative;
          top: 104px;
          width: 200px;
        }
      }
      
      @media ((max-width: 630px) and (min-width: 0px)) {
        .iphoneImg {
          position: relative;
          width: 150px;
          top: 54px;
        }

        .pink_vector {
          position: absolute;
          top: 292px;
          width: 700px;
        }
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
    .active {
      border-radius: 100%;
      height: 13px;
      width: 4px;
      border: none;
      background-color: rgba(203, 17, 171, 0.3);
      cursor: pointer;

    }

    .dot {
      border-radius: 100%;
      height: 16px;
      width: 15px;
      border: none;
      background-color: rgba(203, 17, 171, 1);
      cursor: pointer;
    }

  }

  @media ((max-width: 630px) and (min-width: 0px)) {
   .background {
    background-color: #E7E8EE;
    height: 350px;
   }
  }
}