.ProductsMainSection {
	.content {
		display: flex;
		justify-content: space-between;
		.left_content {
			width: 100%;
			max-width: 1121px;
			display: flex;
			flex-direction: column;
			gap: 34px;
			.search_input_buttons {
				margin-top: 50px;
				display: flex;
				justify-content: space-between;
				.search {
					width: 545px;
				}
				.add_product {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 13px;
					button {
						cursor: pointer;
						width: 150px;
						height: 43px;
						background: transparent;
						color: rgb(203, 17, 171);
						border: 2px solid rgb(203, 17, 171);
						border-radius: 4px;
						font-size: 16px;
						font-weight: 600;
					}
				}
			}
			.product_buttons {
				display: flex;
				justify-content: space-between;
				.buttons {
					display: flex;
					// justify-content: space-between;
					gap: 15px;
					.all_product {
						cursor: pointer;
						width: 125px;
						height: 36px;
						border: none;
						color: rgb(56, 66, 85);
						border-radius: 4px;
						background: rgb(224, 226, 231);
						font-size: 16px;
						font-weight: 600;
						&:hover {
							background: rgb(56, 66, 85);
							color: rgb(224, 226, 231);
						}
						&.active {
							background: rgb(56, 66, 85);
							color: rgb(224, 226, 231);
						}
					}
				}
				.banner {
					cursor: pointer;
					width: 145px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: none;
					color: rgb(56, 66, 85);
					background: transparent;
				}
			}
			.inputs_date {
				display: flex;
				gap: 15px;
				.input_date {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 139px;
					height: 35px;
					background: transparent;
					border: 1px solid rgb(205, 205, 205);
					border-radius: 6px;
					color: rgb(56, 66, 85);
				}
			}
			.products_card {
				display: flex;
				flex-direction: column;
				gap: 15px;
				.product_title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					p {
						color: rgb(56, 66, 85);
						font-size: 14px;
						font-weight: 400;
					}
				}
				.cards {
					display: flex;
					flex-direction: column;
					gap: 13px;
					.card_title {
						display: flex;
						justify-content: space-between;
						align-items: center;
						// gap: 60px;
						width: 100%;
						max-width: 1123px;
						height: 40px;
						background: rgba(56, 66, 85, 0.9);
						padding: 20px 20px;
						.id_img {
							display: flex;
							gap: 16px;
						}
						p {
							color: rgb(255, 255, 255);
							font-family: Inter;
							font-size: 14px;
							font-weight: 600;
						}
					}
					.card {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						max-width: 1123px;
						height: 74px;
						border: 1px solid rgb(205, 205, 205);
						padding: 20px 20px;
						.three {
							display: flex;
							justify-content: space-between;
							align-items: center;
							gap: 20px;
						}
						img {
							width: 50px;
						}
						.icons {
							display: flex;
							gap: 10px;
						}
					}
				}
			}
		}
		.right_content {
			p {
				width: 300px;
			}
		}
	}
}
.create_newsletter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	.size_sale {
		display: flex;
		flex-direction: column;
		input {
			width: 436.36px;
			height: 35px;
			padding: 8px 12px 8px 12px;
			background: transparent;
			border: 1px solid rgb(205, 205, 205);
			border-radius: 4px;
			&::placeholder {
				color: rgb(205, 205, 205);
			}
		}
	}
	.dates {
		display: flex;
		gap: 30px;
		.date {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 203px;
			height: 35px;
			background: transparent;
			border: 1px solid rgb(205, 205, 205);
			border-radius: 6px;
			color: rgb(23, 29, 41);
		}
	}
	.buttons {
		display: flex;
		gap: 30px;
	}
}

.add_banner {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	.buttons_banner {
		display: flex;
		gap: 30px;
	}
}
