.SearchInputs {
	.main_search {
		max-width: 740px;
		width: 100%;
		display: flex;
		justify-content: center;
		border-radius: 10px;
		background-color: transparent;
		border-right: transparent;

		&:hover .search_icon {
			color: gray;
		}

		.search_icon {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0 10px 10px 0;
			width: 40px;
			height: 40px;
			border: 1px solid rgb(255, 255, 255);
			background-color: transparent;
			border-left: transparent;
			color: white;
		}

		&:focus-within {
			background: transparent;
			border: none;

			.search_focus {
				color: rgb(228, 16, 175);
				background-color: white;
			}
		}

		.input_search {
			border: 1px solid rgb(255, 255, 255);
			background-color: transparent;
			border-right: transparent;
			outline-style: hidden;
			transition:
				background-color 0.3s ease,
				color 0.3s ease;
			width: 42.7vw;
			height: 2.5rem;
			border-radius: 10px 0 0 10px;
			padding: 0.5rem 2.7rem 0.5rem 1.125rem;
			color: black;
			outline: none;

			&:active {
				color: black;
				background: white;
				border-radius: 10px 0 0 10px;
				outline: none;
				border: none;
			}

			&::placeholder {
				color: white;
			}

			&:hover {
				background-color: white;
				color: black;
			}
		}

		&:hover {
			color: black;
			background: white;
		}
	}
}
