.product {
	width: 100%;
	height: auto;
	background: rgb(255, 255, 255);
	.content {
		display: flex;
		flex-direction: column;
		padding-top: 55px;
		padding-bottom: 75px;
		gap: 40px;
		@media (max-width: 1100px) {
			padding-top: 32px;
			padding-bottom: 64px;
			gap: 25px;
		}

		@media (max-width: 650px) {
			padding-top: 24px;
			padding-bottom: 35px;
			gap: 15px;
		}

		.page_content_1 {
			display: flex;
			flex-direction: column;
			gap: 28.8px;

			.navigation_p {
				display: flex;
				align-items: center;
				gap: 5px;
				@media (max-width: 700px) {
					gap: 3.5px;
				}
				p {
					color: rgb(145, 150, 158);
					font-size: clamp(7px, 4vw, 14px);
					font-weight: 400;
					cursor: pointer;
				}

				h3 {
					color: rgb(41, 41, 41);
					font-size: clamp(7px, 4vw, 14px);
					font-weight: 400;
					cursor: auto;
				}
			}

			.border_div {
				display: flex;
				flex-direction: column;
				gap: 16px;
				@media (max-width: 700px) {
					gap: 11px;
				}
				h3 {
					color: rgb(41, 41, 41);
					font-size: clamp(1.4rem, 5vw, 1.7rem);
					font-weight: 500;
				}

				div {
					width: 100%;
					height: 1px;
					border: 1px solid rgb(205, 205, 205);
					@media (max-width: 700px) {
						height: 0.5px;
						border: 0.5px solid rgb(205, 205, 205);
					}
				}
			}
		}

		.page_content_2 {
			display: flex;
			flex-direction: column;
			gap: 50px;
			@media (max-width: 756px) {
				gap: 35px;
			}
			@media (max-width: 550px) {
				gap: 20px;
			}
			.nav_div {
				display: flex;
				align-items: center;
				gap: 15px;

				@media (max-width: 688px) {
					display: flex;
					justify-content: start;
					align-items: start;
					flex-direction: column;
					gap: 11px;
				}

				.nav_one {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 15px;
					@media (max-width: 550px) {
						gap: 10px;
					}
					h3 {
						color: #ffffff;
						background-color: #91969e;
						border-radius: 100%;
						font-size: clamp(1.4rem, 5vw, 1.7rem);
						font-weight: normal;
						padding: 10px 20px;

						@media (max-width: 983px) {
							padding: 10px 17px;
							font-size: clamp(1.1rem, 5vw, 1.1rem);
						}

						@media (max-width: 800px) {
							padding: 5px 10px;
							font-size: clamp(0.8rem, 5vw, 0.8rem);
						}
					}

					p {
						color: #384255;
						font-weight: 500;
						font-size: clamp(8px, 5vw, 17px);
						@media (max-width: 525px) {
							font-size: clamp(0.7rem, 5vw, 14px);
						}
					}
				}

				.nav_two {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 15px;
					@media (max-width: 550px) {
						gap: 10px;
					}
					h3 {
						color: #ffffff;
						background-color: #91969e;
						border-radius: 100%;
						font-size: clamp(1.4rem, 5vw, 1.7rem);
						font-weight: normal;
						padding: 10px 18px;

						@media (max-width: 983px) {
							padding: 10px 16px;
							font-size: clamp(1.1rem, 5vw, 1.1rem);
						}

						@media (max-width: 800px) {
							padding: 5px 9px;
							font-size: clamp(0.8rem, 5vw, 0.8rem);
						}
					}

					p {
						color: #384255;
						font-weight: 500;
						font-size: clamp(8px, 5vw, 17px);
						@media (max-width: 525px) {
							font-size: clamp(0.7rem, 5vw, 14px);
						}
					}
				}

				.nav_three {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 15px;
					@media (max-width: 550px) {
						gap: 10px;
					}
					h3 {
						color: #ffffff;
						background-color: #b9109c;
						border-radius: 100%;
						font-size: clamp(1.4rem, 5vw, 1.7rem);
						font-weight: normal;
						padding: 10px 18px;

						@media (max-width: 983px) {
							padding: 10px 16px;
							font-size: clamp(1.1rem, 5vw, 1.1rem);
						}

						@media (max-width: 800px) {
							padding: 5px 9px;
							font-size: clamp(0.8rem, 5vw, 0.8rem);
						}
					}

					p {
						color: #b9109c;
						font-weight: 500;
						font-size: clamp(8px, 5vw, 17px);
						@media (max-width: 525px) {
							font-size: clamp(0.7rem, 5vw, 14px);
						}
					}
				}

				.line {
					border: 1px solid #384255;
					height: 1px;
					width: 30px;

					@media (max-width: 983px) {
						width: 15px;
					}

					@media (max-width: 688px) {
						display: none;
					}
				}
			}

			.buttons_div {
				display: flex;

				@media (max-width: 665px) {
					display: flex;
					flex-wrap: wrap;
					gap: 15px;
				}

				.button_part_1 {
					display: flex;
					justify-content: start;
					flex-direction: column;
					gap: 5px;

					p {
						font-size: clamp(0.8rem, 5vw, 0.9rem);
						font-weight: 400;
						color: #000000;

						@media (max-width: 665px) {
							font-size: clamp(0.7rem, 5vw, 0.7rem);
						}
					}

					.part {
						display: flex;
						justify-content: center;
						align-items: center;

						input {
							background-color: transparent;
							border: 1px solid #c7cdd9;
							border-radius: 4px;
							width: 300px;
							color: #000000;
							padding: 7px 15px 7px 35px;
							&::placeholder {
								font-size: 13px;
							}

							&:focus {
								border: 1px solid #c7cdd9;
								outline: none;
							}
						}

						svg {
							position: relative;
							right: 290px;
							color: #91969e;
							width: 20px;
						}
					}
				}

				.button_part_2 {
					display: flex;
					justify-content: start;
					flex-direction: column;
					gap: 5px;

					p {
						font-size: clamp(0.8rem, 5vw, 0.9rem);
						font-weight: 400;
						color: #000000;

						@media (max-width: 665px) {
							font-size: clamp(0.7rem, 5vw, 0.7rem);
						}
					}

					.part {
						display: flex;
						justify-content: center;
						align-items: center;

						input {
							background-color: transparent;
							border: 1px solid #c7cdd9;
							border-radius: 4px;
							width: 300px;
							color: #000000;
							padding: 7px 15px 7px 35px;

							&::placeholder {
								font-size: 13px;
							}

							&:focus {
								border: 1px solid #c7cdd9;
								outline: none;
							}
						}

						svg {
							position: relative;
							right: 290px;
							color: #91969e;
							width: 20px;
						}
					}
				}
			}
		}
	}
}
