.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    p {
      font-size: 14px;
      span {
        color: red;
      }
    }
    .textarea {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .it {
        width: 700px;
        height: 240px;
        max-height: 240px;
        font-weight: 300;
        font-size: 16px;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      gap: 25px;
      margin-top: 65px;
      .cancel_b {
        color: rgba(203, 17, 171, 1);
        background-color: transparent;
        border: 2px solid rgba(203, 17, 171, 1);
        border-radius: 4px;
        padding: 5px 14px;
        font-weight: 600;
        cursor: pointer;
      }
      .add_b {
        background-color: rgba(203, 17, 171, 1);
        border: none;
        color: #fff;
        font-weight: 600;
        padding: 5px 14px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

