.SubsInputButton {
	display: flex;
	flex-direction: column;
	gap: 16px;
	.promoDiscount {
		color: rgb(255, 255, 255);
		font-family: Inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 130%;
		letter-spacing: 0%;
		text-align: left;
	}
	.emailInput {
		width: 100%;
		max-width: 246px;
		height: 39px;
		color: black;
		border-radius: 4px 0px 0px 4px;
		background: rgb(255, 255, 255);
		border: none;
		&:focus {
			// border-radius: 4px 0px 0px 4px;
			border: none;
		}
	}

	.errorInput {
		border: 1px solid red;
		&:focus {
			border: 1px solid red;
		}
	}

	.addSubscrib {
		color: rgb(255, 255, 255);
		font-family: Inter;
		font-size: 14px;
		font-weight: 300;
		line-height: 150%;
		letter-spacing: 0%;
		text-align: left;
	}
	.subscribeButton {
		padding: 8px 35px 12px 35px;
		border-radius: 0px 4px 4px 0px;
		background: rgb(203, 17, 171);
		border: none;
		color: white;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0%;
		text-align: left;
	}
}
