.DeliveryOptions {
	margin-top: 100px;
	margin-bottom: 200px;
	.content {
		display: flex;
		gap: 400px;
		.cards_pickup_courier_delivery {
			margin-top: 50px;
			display: flex;
			justify-content: flex-start;
			gap: 30px;
			.checkbox_pickup {
				margin-top: 30px;
				display: flex;
				justify-content: center;
				gap: 10px;
				width: 280px;
				height: 180px;
				border-radius: 6px;
				background: white;
				padding: 26px 12px 30px 12px;
				.checkbox {
					width: 20px;
					height: 20px;
					color: red;
					background: white !important;
				}
				.text_pickup {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
				.ant-checkbox .ant-checkbox-input {
					background: #fff !important;
					border-color: transparent !important;
				}
			}
			.checkbox_courier_delivery {
				margin-top: 30px;
				display: flex;
				justify-content: center;
				gap: 10px;
				width: 280px;
				height: 180px;
				border-radius: 6px;
				background: white;
				padding: 26px 12px 30px 12px;
				.text_courier {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
			}
		}
		hr {
			margin-top: 30px;
			width: 690px;
		}
		h2 {
			margin-top: 30px;
		}
		.input_personal_data_pickup {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			gap: 14px;
			.name_and_first_name {
				display: flex;
				gap: 17px;
			}
			.email_and_phone_number {
				display: flex;
				gap: 17px;
			}
			input {
				width: 340px;
				height: 48px;
				background: #fff;
				border: 1px solid rgb(205, 205, 205);
				border-radius: 6px;
				font-size: 14px;
				color: black;
			}
			.adress_input {
				width: 700px;
				height: 48px;
				background: #fff;
				border: 1px solid rgb(205, 205, 205);
				border-radius: 6px;
			}

			.label_input {
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
			button {
				margin-top: 10px;
				cursor: pointer;
				width: 698px;
				height: 45px;
				background: rgb(203, 17, 171);
				border-radius: 6px;
				border: none;
				color: rgb(255, 255, 255);
				font-size: 16px;
				font-weight: 600;
				text-align: center;
				text-transform: capitalize;
			}
		}
		// .order_price {
		// 	display: flex;
		// 	flex-direction: column;
		// 	.card_order_price {
		// 		display: flex;
		// 		flex-direction: column;
		// 		align-items: center;
		// 		justify-content: center;
		// 		gap: 17px;
		// 		width: 400px;
		// 		height: 180px;
		// 		background: white;
		// 		padding: 20px 30px 20px 30px;
		// 		.title {
		// 			display: flex;
		// 			gap: 150px;
		// 			p {
		// 				font-size: 17px;
		// 			}
		// 			h5 {
		// 				color: rgb(75, 126, 232);
		// 			}
		// 		}
		// 		.line {
		// 			background: gray;
		// 			width: 330px;
		// 			height: 1px;
		// 			color: white;
		// 		}
		// 		.quantity_order {
		// 			display: flex;
		// 			gap: 130px;
		// 		}
		// 		.your_seil {
		// 			display: flex;
		// 			gap: 145px;
		// 			span {
		// 				color: red;
		// 			}
		// 		}
		// 		.sum {
		// 			display: flex;
		// 			gap: 195px;
		// 		}
		// 		.total {
		// 			display: flex;
		// 			gap: 198px;
		// 		}
		// 	}
		// 	.cards_phones {
		// 		display: flex;
		// 		flex-direction: column;
		// 		.phone_card {
		// 			display: flex;
		// 			align-items: center;
		// 			img {
		// 				width: 120px;
		// 				height: 170px;
		// 				object-fit: cover;
		// 				object-position: center;
		// 			}
		// 			.phone_texts {
		// 				margin-top: 36px;
		// 				display: flex;
		// 				flex-direction: column;
		// 				gap: 2px;
		// 				.name {
		// 					width: 340px;
		// 					color: rgb(41, 41, 41);
		// 					font-family: Inter;
		// 					font-size: 18px;
		// 					font-weight: 400;
		// 					line-height: 150%;
		// 					letter-spacing: 0%;
		// 					text-align: left;
		// 				}
		// 				p {
		// 					color: rgb(56, 66, 85);
		// 					font-family: Inter;
		// 					font-size: 14px;
		// 					font-weight: 400;
		// 					line-height: 140%;
		// 					letter-spacing: 0%;
		// 					text-align: left;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
}
