.DeliveryOptions {
	margin-top: 100px;
	margin-bottom: 100px;
	.content {
		display: flex;
		gap: 400px;
		.cards_pickup_courier_delivery {
			margin-top: 50px;
			display: flex;
			justify-content: flex-start;
			gap: 30px;
			@media (max-width: 633px) {
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				gap: 30px;
			}
			.checkbox_pickup {
				margin-top: 30px;
				display: flex;
				justify-content: center;
				gap: 10px;
				width: 280px;
				height: 180px;
				border-radius: 6px;
				background: white;
				padding: 26px 12px 30px 12px;
				.checkbox {
					width: 20px;
					height: 20px;
					background: white !important;
				}
				.text_pickup {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
				.ant-checkbox .ant-checkbox-input {
					background: #fff !important;
					border-color: transparent !important;
				}
			}
			.checkbox_courier_delivery {
				margin-top: 30px;
				display: flex;
				justify-content: center;
				gap: 10px;
				width: 280px;
				height: 180px;
				border-radius: 6px;
				background: white;
				padding: 26px 12px 30px 12px;
				.text_courier {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
			}
		}
		hr {
			margin-top: 30px;
			width: 100%;
		}
		h2 {
			margin-top: 30px;
		}
		.input_personal_data_pickup {
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			gap: 14px;

			.name_and_first_name {
				display: flex;
				gap: 17px;
				@media (max-width: 735px) {
					display: flex;
					flex-direction: column;
				}
			}
			.email_and_phone_number {
				display: flex;
				gap: 17px;
				@media (max-width: 735px) {
					display: flex;
					flex-direction: column;
				}
			}
			input {
				width: 340px;
				height: 48px;
				background: #fff;
				border: 1px solid rgb(205, 205, 205);
				border-radius: 6px;
				font-size: 14px;
				color: black;
				@media (max-width: 735px) {
					width: 280px;
				}
			}
			.adress_input {
				width: 700px;
				height: 48px;
				background: #fff;
				border: 1px solid rgb(205, 205, 205);
				border-radius: 6px;
				@media (max-width: 735px) {
					width: 280px;
				}
			}

			.label_input {
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
			button {
				margin-top: 10px;
				cursor: pointer;
				max-width: 698px;
				width: 100%;
				height: 45px;
				background: rgb(203, 17, 171);
				border-radius: 6px;
				border: none;
				color: rgb(255, 255, 255);
				font-size: 16px;
				font-weight: 600;
				text-align: center;
				text-transform: capitalize;
				@media (max-width: 735px) {
					width: 280px;
				}
			}
		}
	}
}
