.OrderOverview {
	margin-top: 200px;
	margin-bottom: 200px;
	@media (max-width: 1352px) {
		margin-bottom: 100px;
		margin-top: 100px;
	}
	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		h2 {
			color: rgb(41, 41, 41);
			font-weight: 500;
		}
		.texts {
			margin-top: 18px;
			display: flex;
			flex-direction: column;
			gap: 22px;
			width: 409px;
			@media (max-width: 440px) {
				width: 280px;
			}
			.total {
				display: flex;
				flex-direction: column;
				gap: 10px;
				h3 {
					display: flex;
					align-items: center;
					gap: 81px;
					color: rgb(203, 17, 171);
					font-weight: 800;
					font-size: 20px;
					p {
						font-size: 17px;
					}
				}
			}
			.delivery {
				display: flex;
				gap: 62px;
				@media (max-width: 440px) {
					flex-direction: column;
					gap: 20px;
				}
				.text_delivery {
					color: #384255;
					font-weight: 800;
				}
				.change {
					cursor: pointer;
					font-size: 14px;
					font-weight: 800;
					color: rgb(75, 126, 232);
				}
			}
			.payment {
				display: flex;
				gap: 81.7px;
				@media (max-width: 440px) {
					flex-direction: column;
					gap: 20px;
				}
				.text_payment {
					color: #384255;
					font-weight: 800;
				}
				.change {
					cursor: pointer;
					font-size: 14px;
					font-weight: 800;
					color: rgb(75, 126, 232);
				}
			}
		}
		button {
			margin-top: 10px;
			cursor: pointer;
			width: 412px;
			height: 57px;
			background: rgb(203, 17, 171);
			border-radius: 6px;
			border: none;
			color: rgb(255, 255, 255);
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			text-transform: capitalize;
			@media (max-width: 440px) {
				width: 280px;
			}
		}
	}
}
