.WrapperPay {
	margin-top: 40px;
	margin-bottom: 200px;
	.content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.bread_crumbs {
			cursor: pointer;
			color: rgb(145, 150, 158);
			.decor{
				color: black;
				font-weight: 600;
			}
		}
		.left_and_right_block {
			display: flex;
			justify-content: space-between;
			@media (max-width: 1353px) {
				display: flex;
				flex-direction: column;
			}
			.left_block {
				.transition_numbers {
					display: flex;
					gap: 175px;
					@media (max-width: 735px) {
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						gap: 17px;
					}
					.number_one {
						position: relative;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
						.delivery_link {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 35px;
							height: 35px;
							background: #c6c6c6;
							border-radius: 50%;
							color: white;
							&.active {
								background: #cb11ab;
							}
						}
						.line {
							position: absolute;
							top: 17px;
							left: 31px;
							z-index: 99;
							width: 308px;
							height: 2px;
							background: #c6c6c6;
							&.active {
								background: #cb11ab;
							}
							@media (max-width: 735px) {
								width: 152px;
							}
							@media (max-width: 425px) {
								display: none;
							}
						}
					}
					.number_two {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.payment_link {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 35px;
							height: 35px;
							background: #c6c6c6;
							border-radius: 50%;
							color: white;
							&.active {
								background: #cb11ab;
							}
						}
					}
					.number_three {
						position: relative;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						align-items: flex-end;
						margin-left: 43px;
						.review_link {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 35px;
							height: 35px;
							background: #c6c6c6;
							border-radius: 50%;
							color: white;
							&.active {
								background: #cb11ab;
							}
						}
						.line {
							position: absolute;
							top: 17px;
							left: -229px;
							z-index: 99;
							width: 308px;
							height: 2px;
							background: #c6c6c6;
							&.active {
								background: #cb11ab;
							}
							@media (max-width: 735px) {
								left: -70px;
								width: 140px;
							}
							@media (max-width: 425px) {
								display: none;
							}
						}
					}
				}
			}
			.right_block {
				.order_price {
					display: flex;
					flex-direction: column;
					.card_order_price {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						gap: 17px;
						width: 400px;
						height: 180px;
						background: white;
						padding: 20px 30px 20px 30px;
						@media (max-width: 425px) {
							width: 280px;
							height: 190px;
						}
						.title {
							display: flex;
							gap: 150px;
							@media (max-width: 425px) {
								display: flex;
								gap: 100px;
							}
							p {
								font-size: 17px;
							}
							h5 {
								color: rgb(75, 126, 232);
							}
						}
						.line {
							background: gray;
							width: 330px;
							height: 1px;
							color: white;
							@media (max-width: 425px) {
								width: 260px;
							}
						}
						.quantity_order {
							display: flex;
							gap: 130px;
							@media (max-width: 425px) {
								gap: 15px;
							}
						}
						.your_seil {
							display: flex;
							gap: 145px;
							@media (max-width: 425px) {
								gap: 30px;
							}
							span {
								color: red;
							}
						}
						.sum {
							display: flex;
							gap: 195px;
							@media (max-width: 425px) {
								gap: 80px;
							}
						}
						.total {
							display: flex;
							gap: 198px;
							@media (max-width: 425px) {
								gap: 80px;
							}
						}
					}
					.cards_phones {
						display: flex;
						flex-direction: column;
						.phone_card {
							display: flex;
							align-items: center;
							img {
								width: 120px;
								height: 170px;
								object-fit: cover;
								object-position: center;
							}
							.phone_texts {
								margin-top: 36px;
								width: 281px;
								display: flex;
								flex-direction: column;
								gap: 2px;
								.name {
									color: rgb(41, 41, 41);
									font-family: Inter;
									font-size: 18px;
									font-weight: 400;
									line-height: 150%;
									letter-spacing: 0%;
									text-align: left;
								}
								p {
									color: rgb(56, 66, 85);
									font-family: Inter;
									font-size: 14px;
									font-weight: 400;
									line-height: 140%;
									letter-spacing: 0%;
									text-align: left;
								}
							}
						}
					}
				}
			}
		}
	}
}
