.Header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background: #1a1a25;
	.content {
		position: relative;
		padding: 20px 1px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 200px;
			transition: 0.2s;
			.gadgetarium_icon {
				width: 100%;
			}

			@media (max-width: 1300px) {
				margin: 0;
			}

			svg {
				margin-top: 5px;
			}
		}

		.nav {
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
				li {
					.link {
						padding: 12px 14px;
						border-radius: 5px;
						color: #fff;
						transition: 0.2s;

						&:hover {
							background: #858fa426;
						}
						&.active {
							background: #858fa426;
						}
					}
				}
			}
		}

		.alone_div {
			padding: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;

			.create_button {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 190px;
				height: 43px;
				background: #cb11ab;
				color: #ffffff;
				font-size: 16px;
				font-weight: 600;
				line-height: 19px;
				border: none;
				border-radius: 35px;
				cursor: pointer;
			}

			hr {
				height: 40px;

				@media (max-width: 1200px) {
					display: none;
				}
			}

			.profile {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				background: #ffffff;
				border-radius: 100%;

				@media (max-width: 1200px) {
					display: none;
				}
			}

			.selected_option_icon {
				display: flex;
				align-items: center;
				cursor: pointer;
				.button {
					padding: 15px 10px 15px 10px;

					display: flex;
					justify-content: center;
					align-items: center;

					background: transparent;
					border: none;
					outline: none;

					color: #ffffff;
					font-size: 16px;
					font-weight: 400;
					line-height: 19px;
					letter-spacing: 0px;

					cursor: pointer;

					.icon {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						svg {
							margin-top: 4px;
							margin-left: 3px;
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}
	}
}
.create_newsletter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 26px;
	.size_sale {
		display: flex;
		flex-direction: column;
		input {
			width: 436.36px;
			height: 35px;
			padding: 8px 12px 8px 12px;
			background: transparent;
			border: 1px solid rgb(205, 205, 205);
			border-radius: 4px;
			&::placeholder {
				color: rgb(205, 205, 205);
			}
		}
	}
	.dates {
		display: flex;
		gap: 30px;
		.date {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 203px;
			height: 35px;
			background: transparent;
			border: 1px solid rgb(205, 205, 205);
			border-radius: 6px;
			color: rgb(23, 29, 41);
		}
	}
	.buttons {
		display: flex;
		gap: 30px;
	}
}
