.button {
	width: 30px;
	height: 30px;
	object-fit: cover;
	object-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-radius: 50%;
	border: none;

	cursor: pointer;

	@media (max-width: 500px) {
		cursor: default;
	}

	svg {
		color: #1a1a25;
	}
}
