.order {
	width: 100%;
	height: 100vw;
	background: rgb(255, 255, 255);
	@media (max-width: 1000px) {
		height: auto;
	}
	.content {
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 104px;
		@media (max-width: 1527.2px) {
			display: flex;
			flex-direction: column;
			justify-content: start;
			gap: 50px;
			align-items: start;

			.content_left {
				order: 2;
			}

			.content_right {
				order: 1;
			}
		}

		.content_left {
			display: flex;
			flex-direction: column;
			gap: 30px;
			width: 100%;

			@media (max-width: 1231.2px) {
				width: 100%;
			}

			.content_left_1 {
				display: flex;
				justify-content: start;
				align-items: start;
				flex-direction: column;

				.search_div {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					max-width: 400px;
				}

				.navigation_div {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;
					margin-top: 40px;

					@media (max-width: 1231.2px) {
						display: flex;
						flex-wrap: wrap;
					}

					.active_link {
						font-size: clamp(0.5rem, 4vw, 0.9rem);
						font-weight: 500;
						color: #ffffff;
						background-color: #cb11ab;
						padding: 8px 17px;
						border-radius: 6px;

						&:hover {
							background-color: #cb11ab;
						}

						@media (max-width: 1231.2px) {
							font-size: clamp(0.5rem, 4vw, 0.7rem);
						}
					}

					h3 {
						font-size: clamp(0.5rem, 4vw, 0.9rem);
						font-weight: 500;
						color: #384255;
						background-color: #e0e2e7;
						padding: 8px 17px;
						border-radius: 6px;
						transition: 0.3s;

						&:hover {
							background-color: #c5c8cf;
						}

						@media (max-width: 1231.2px) {
							font-size: clamp(0.5rem, 4vw, 0.7rem);
						}
					}
				}

				.border_div {
					margin-top: 25px;
					width: 100%;
					max-width: 1121px;
					height: 1px;
					border: 1px solid rgb(205, 205, 205);

					@media (max-width: 700px) {
						height: 0.5px;
						border: 0.5px solid rgb(205, 205, 205);
					}
				}

				.inputs_div {
					display: flex;
					gap: 15px;
					margin-top: 20px;
					.input_date {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 139px;
						height: 35px;
						background: transparent;
						border: 1px solid rgb(205, 205, 205);
						border-radius: 6px;
						color: rgb(56, 66, 85);
					}
				}
			}

			.content_left_2 {
				display: flex;
				flex-direction: column;
				gap: 15px;
				@media (max-width: 785px) {
					gap: 10px;
				}
				@media (max-width: 555px) {
					gap: 7px;
				}
				h2 {
					color: #384255;
					font-size: clamp(0.3rem, 4vw, 0.8rem);
					font-weight: 400;
				}

				.table_div {
					width: 100%;
					table {
						display: flex;
						flex-direction: column;
						gap: 15px;
						width: 100%;
						@media (max-width: 785px) {
							gap: 10px;
						}
						@media (max-width: 555px) {
							gap: 7px;
						}
						tr {
							display: flex;
							align-items: center;
							width: 100%;
							max-width: 1121px;
							background-color: #4c5566;
							color: #ffffff;
							padding: 10px 15px;
							justify-content: space-between;
							gap: 10px;
							@media (max-width: 500px) {
								gap: 3px;
								justify-content: space-evenly;
							}
							.row_1 {
								display: flex;
								width: 100%;
								max-width: 110px;
								gap: 30px;
								// justify-content: space-between;
								margin-right: 25px;
								@media (max-width: 1022px) {
									width: 100%;
									max-width: 150px;
									gap: 35px;
								}
								@media (max-width: 559px) {
									width: 100%;
									max-width: 45px;
									gap: 20px;
								}
								th {
									color: rgb(255, 255, 255);
									font-size: clamp(7px, 6vw, 14px);
									font-weight: 600;
									@media (max-width: 900px) {
										font-weight: 400;
										font-size: clamp(6px, 4vw, 10px);
									}
									@media (max-width: 480px) {
										font-size: clamp(5px, 4vw, 7px);
									}
								}
							}

							.rows {
								display: flex;
								align-items: center;
								justify-content: space-between;
								width: 100%;
								@media (max-width: 779px) {
									gap: 10px;
								}
							}
							.row_2 {
								display: flex;
								justify-content: space-between;
								width: 100%;
								max-width: 570px;
								@media (max-width: 500px) {
									gap: 4px;
								}
								th {
									color: rgb(255, 255, 255);
									font-size: clamp(7px, 6vw, 14px);
									font-weight: 600;
									@media (max-width: 900px) {
										font-weight: 400;
										font-size: clamp(6px, 4vw, 10px);
									}
									@media (max-width: 650px) {
										font-size: clamp(5px, 4vw, 8px);
									}
									@media (max-width: 480px) {
										font-size: clamp(5px, 4vw, 7px);
									}
								}
							}

							.row_3 {
								display: flex;
								justify-content: space-between;
								// gap: 10px;
								width: 100%;
								max-width: 200px;
								@media (max-width: 750px) {
									justify-content: space-evenly;
									max-width: 80px;
								}
								@media (max-width: 450px) {
									max-width: 70px;
								}
								th {
									color: rgb(255, 255, 255);
									font-size: clamp(7px, 6vw, 14px);
									font-weight: 600;
									@media (max-width: 900px) {
										font-weight: 400;
										font-size: clamp(6px, 4vw, 10px);
									}
									@media (max-width: 650px) {
										font-size: clamp(5px, 4vw, 8px);
									}
									@media (max-width: 480px) {
										font-size: clamp(5px, 4vw, 7px);
									}
								}
							}
						}
						.tr {
							display: flex;
							gap: 10px;
							flex-direction: column;
							background-color: transparent;
							// padding: 0 20px 0 0px;
							width: 100%;
							.tr_div {
								display: flex;
								align-items: center;
								border: 1px solid #c8c8c8;
								padding: 20px 15px 20px 15px;
								background: transparent;
								border-radius: 6px;
								width: 1121px;

								svg {
									color: #91969E;
								}

								@media (max-width: 570px) {
									margin-left: 0;
								}
								@media (max-width: 750px) {
									padding: 10px 0px 10px 8px;
								}
								@media (max-width: 1171px) {
									width: 1000px;
								}
								@media (max-width: 1050px) {
									width: 900px;
								}
								@media (max-width: 948px) {
									width: 800px;
								}
								@media (max-width: 856px) {
									width: 700px;
									padding: 7px 0px 7px 5px;
								}
								@media (max-width: 775px) {
									width: 600px;
								}
								@media (max-width: 674px) {
									width: 500px;
								}
								@media (max-width: 570px) {
									width: 450px;
								}
								@media (max-width: 460px) {
									width: 380px;
								}

								&:hover {
									background-color: #e6e8ed;
									transition: 0.3s;
								}
								.tr_row_1 {
									display: flex;
									align-items: center;
									gap: 30px;
									color: #000000;
									font-size: clamp(0.4rem, 4vw, 0.8rem);
									font-weight: 400;
									@media (max-width: 850px) {
										font-size: clamp(7px, 4vw, 14px);
									}
									@media (max-width: 650px) {
										font-size: clamp(7px, 4vw, 12px);
										gap: 10px;
									}
									@media (max-width: 550px) {
										font-size: clamp(7px, 4vw, 10px);
										gap: 4px;
									}
									@media (max-width: 480px) {
										font-size: clamp(5px, 4vw, 7px);
									}
									.id_col {
										color: rgb(41, 41, 41);
										font-size: clamp(7px, 4vw, 16px);
										font-weight: 400;
										@media (max-width: 850px) {
											font-size: clamp(7px, 4vw, 14px);
										}
										@media (max-width: 650px) {
											font-size: clamp(7px, 4vw, 12px);
										}
										@media (max-width: 550px) {
											font-size: clamp(7px, 4vw, 10px);
										}
										@media (max-width: 480px) {
											font-size: clamp(5px, 4vw, 7px);
										}
									}
								}

								.tr_row_2 {
									display: flex;
									justify-content: space-between;
									align-items: center;
									width: 100%;
									@media (max-width: 850px) {
										justify-content: space-between;
									}
									@media (max-width: 750px) {
										justify-content: space-between;
									}
									.number_col {
										display: flex;
										flex-direction: column;

										h2 {
											color: #2c68f5;
											font-size: clamp(0.5rem, 4vw, 1rem);
											font-weight: 400;
											@media (max-width: 1020px) {
												font-size: clamp(0.4rem, 4vw, 0.8rem);
											}
											@media (max-width: 750px) {
												font-size: clamp(0.3rem, 4vw, 0.6rem);
											}
											@media (max-width: 848px) {
												font-size: clamp(0.3rem, 4vw, 0.4rem);
											}
										}

										span {
											color: rgb(144, 156, 181);
											font-size: clamp(0.4rem, 4vw, 0.8rem);
											font-weight: 400;
											@media (max-width: 1020px) {
												font-size: clamp(0.4rem, 4vw, 0.6rem);
											}
											@media (max-width: 750px) {
												font-size: clamp(0.4rem, 4vw, 0.5rem);
											}
											@media (max-width: 848px) {
												font-size: clamp(0.3rem, 4vw, 0.4rem);
											}
										}
									}

									.quantity_col {
										color: rgb(41, 41, 41);
										font-size: clamp(7px, 4vw, 16px);
										font-weight: 400;
										@media (max-width: 850px) {
											font-size: clamp(7px, 4vw, 14px);
										}
										@media (max-width: 650px) {
											font-size: clamp(7px, 4vw, 12px);
										}
										@media (max-width: 550px) {
											font-size: clamp(7px, 4vw, 10px);
										}
										@media (max-width: 480px) {
											font-size: clamp(5px, 4vw, 7px);
										}
									}

									.total_price_col {
										color: rgb(41, 41, 41);
										font-size: clamp(7px, 4vw, 16px);
										font-weight: 400;
										@media (max-width: 850px) {
											font-size: clamp(7px, 4vw, 14px);
										}
										@media (max-width: 650px) {
											font-size: clamp(7px, 4vw, 12px);
										}
										@media (max-width: 550px) {
											font-size: clamp(7px, 4vw, 10px);
										}
										@media (max-width: 480px) {
											font-size: clamp(5px, 4vw, 7px);
										}
									}

									.order_type_col {
										color: rgb(41, 41, 41);
										font-size: clamp(7px, 4vw, 16px);
										font-weight: 400;
										@media (max-width: 850px) {
											font-size: clamp(7px, 4vw, 14px);
										}
										@media (max-width: 650px) {
											font-size: clamp(7px, 4vw, 12px);
										}
										@media (max-width: 550px) {
											font-size: clamp(7px, 4vw, 10px);
										}
										@media (max-width: 480px) {
											font-size: clamp(5px, 4vw, 7px);
										}
									}

									.trash {
										color: #878c93;
										margin-right: 10px;
										@media (max-width: 871px) {
											width: 20px;
											height: auto;
										}
										@media (max-width: 681px) {
											width: 15px;
										}	
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// !MODAL STYLE
.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	text-align: center;

	h2 {
		font-weight: 500;

		span {
			font-weight: 700;
		}
	}

	.modal_buttons {
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 20px;

		.cancel_modal_button {
			color: #cb11ab;
			border: 2px solid #cb11ab;
			padding: 5px 15px;
			background-color: transparent;
			font-weight: 600;
			border-radius: 4px;
			cursor: pointer;

			&:hover {
				color: #e638c9;
				border: 2px solid #e638c9;
				transition: 0.3s;
			}
		}

		.delete_modal_button {
			color: #ffffff;
			background-color: #cb11ab;
			padding: 6px 18px;
			border-radius: 4px;
			font-weight: 600;
			border: none;
			cursor: pointer;

			&:hover {
				background-color: #e638c9;
				transition: 0.3s;
			}
		}
	}
}
