.Infographics {
	width: 100%;
	height: auto;
	.content_right {
		display: flex;
		flex-direction: column;
		gap: 40px;
		width: 100%;
		max-width: 350px;
		.right_part_1 {
			display: flex;
			flex-direction: column;
			gap: 25px;
			h3 {
				color: #292929;
				font-size: clamp(0.4rem, 4vw, 0.8rem);
				text-transform: uppercase;
				letter-spacing: 1px;
			}

			.prices_div {
				display: flex;
				gap: 15px;

				.price_div_1 {
					display: flex;
					flex-direction: column;
					gap: 8px;

					h2 {
						color: #1556de;
						font-weight: 600;
						letter-spacing: 1px;

						@media (max-width: 404px) {
							font-size: clamp(1.2rem, 4vw, 1.1rem);
						}

						span {
							color: #384255;
							border-bottom: 1px solid;
							text-transform: lowercase;
						}
					}

					.another_h2 {
						font-size: clamp(1rem, 4vw, 1.3rem);
						color: #2c68f5;

						@media (max-width: 404px) {
							font-size: clamp(0.9rem, 4vw, 1.1rem);
						}
					}

					h3 {
						color: #747b88;
						font-weight: normal;
						font-size: clamp(0.8rem, 4vw, 0.9rem);
						text-transform: none;

						@media (max-width: 404px) {
							font-size: clamp(0.4rem, 4vw, 0.7rem);
						}
					}
				}

				.border_straight_div {
					border: 1px solid #c3c3c3;
				}

				.price_div_2 {
					display: flex;
					flex-direction: column;
					gap: 8px;

					h2 {
						color: #f99808;
						font-weight: 600;
						letter-spacing: 1px;

						@media (max-width: 404px) {
							font-size: clamp(1.2rem, 4vw, 1.1rem);
						}

						span {
							color: #384255;
							border-bottom: 1px solid;
							text-transform: lowercase;
						}
					}

					.another_h2 {
						font-size: clamp(1rem, 4vw, 1.3rem);

						@media (max-width: 404px) {
							font-size: clamp(0.9rem, 4vw, 1.1rem);
						}
					}

					h3 {
						color: #747b88;
						font-weight: normal;
						font-size: clamp(0.8rem, 4vw, 0.9rem);
						text-transform: none;

						@media (max-width: 404px) {
							font-size: clamp(0.4rem, 4vw, 0.7rem);
						}
					}
				}
			}
		}

		.right_part_2 {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.days_div {
				display: flex;
				justify-content: space-between;
				align-content: center;
				@media (max-width: 404px) {
					display: flex;
					justify-content: center;
				}

				.month_h2 {
					color: #242424;
					width: 148px;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: clamp(0.8rem, 4vw, 0.8rem);
					border-bottom: 1px solid #cdcdcd;
					padding-bottom: 8px;
					padding-left: 30px;
					cursor: pointer;

					@media (max-width: 404px) {
						width: 90px;
						padding-left: 15px;
						font-size: clamp(0.6rem, 4vw, 0.5rem);
					}

					&:hover {
						border-bottom: 2px solid #292929;
					}
				}

				.active_month_h2 {
					color: #242424;
					width: 148px;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: clamp(0.8rem, 4vw, 0.8rem);
					border-bottom: 2px solid #292929;
					padding-bottom: 8px;
					padding-left: 30px;
					cursor: pointer;

					@media (max-width: 404px) {
						width: 90px;
						padding-left: 15px;
						font-size: clamp(0.6rem, 4vw, 0.5rem);
					}
				}

				.day_h2 {
					color: #242424;
					font-size: clamp(0.8rem, 4vw, 0.8rem);
					letter-spacing: 1px;
					text-transform: uppercase;
					width: 100px;
					padding-left: 14px;
					border-bottom: 1px solid #cdcdcd;
					padding-bottom: 8px;
					cursor: pointer;

					@media (max-width: 404px) {
						font-size: clamp(0.6rem, 4vw, 0.5rem);
					}

					&:hover {
						border-bottom: 2px solid #292929;
					}
				}

				.active_day_h2 {
					color: #242424;
					width: 100px;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: clamp(0.8rem, 4vw, 0.8rem);
					padding-bottom: 8px;
					border-bottom: 2px solid #292929;
					padding-left: 14px;
					cursor: pointer;

					@media (max-width: 404px) {
						font-size: clamp(0.6rem, 4vw, 0.5rem);
					}
				}

				.year_h2 {
					color: #242424;
					font-size: clamp(0.8rem, 4vw, 0.8rem);
					letter-spacing: 1px;
					width: 100px;
					text-transform: uppercase;
					padding-left: 19px;
					border-bottom: 1px solid #cdcdcd;
					padding-bottom: 8px;
					cursor: pointer;

					@media (max-width: 404px) {
						font-size: clamp(0.6rem, 4vw, 0.5rem);
					}

					&:hover {
						border-bottom: 2px solid #292929;
					}
				}

				.active_year_h2 {
					color: #242424;
					font-size: clamp(0.8rem, 4vw, 0.8rem);
					letter-spacing: 1px;
					width: 100px;
					text-transform: uppercase;
					padding-left: 19px;
					border-bottom: 2px solid #292929;
					padding-bottom: 8px;
					cursor: pointer;

					@media (max-width: 404px) {
						font-size: clamp(0.6rem, 4vw, 0.5rem);
					}
				}
			}

			.box_div {
				background-color: #e5ebf7;
				border-radius: 10px;
				padding: 20px;

				.box_information_div {
					display: flex;
					flex-direction: column;
					gap: 20px;

					h3 {
						color: #384255;
						letter-spacing: 1px;
						font-size: clamp(0.8rem, 4vw, 0.9rem);
					}

					.periods_div {
						display: flex;
						align-items: end;
						gap: 35px;

						.present_period_div {
							display: flex;
							flex-direction: column;
							gap: 10px;

							h2 {
								color: #2ab008;

								@media (max-width: 404px) {
									font-size: clamp(1.1rem, 4vw, 1.3rem);
								}

								span {
									border-bottom: 2px solid #2ab008;
								}
							}

							h3 {
								color: #384255;
								letter-spacing: 1px;
								font-weight: 400;
								font-size: clamp(0.8rem, 4vw, 0.8rem);
							}
						}

						.last_period_div {
							display: flex;
							flex-direction: column;
							gap: 10px;

							h2 {
								font-size: clamp(0.8rem, 4vw, 1.2rem);
								color: #2fc509;

								span {
									border-bottom: 2px solid #2fc509;
								}
							}

							h3 {
								color: #384255;
								letter-spacing: 1px;
								font-weight: 400;
								font-size: clamp(0.8rem, 4vw, 0.8rem);
							}
						}
					}
				}
			}
		}
	}
}
