.ContainerCategorySmartphones {
	display: flex;
	gap: 1.2rem;
	align-items: center;
  @media (max-width: 600px) {
    gap: 0.8rem;
  }
	.ProduntDiv {
		background-color: #e8e8e8;
		border-radius: 4px;
		width: 13rem;
		height: 22.3rem;
		padding-block: 0.6rem;
		padding-inline: 0.6rem;
		display: flex;
		flex-direction: column;
		gap: 0.9rem;
		box-shadow: 0px 0px 3px black;
    @media (max-width: 600px) {
      width: 11rem;
      height: auto;
      padding-inline: 0.7rem;
      padding-block: 0.7rem;
      gap: 0.7rem;
    }
		.contents1 {
			div {
				display: flex;
				justify-content: flex-end;
        cursor: pointer;
			}
			.divImage {
				display: flex;
				align-items: center;
				justify-content: center;

				.imgPhotoProduct {
					width: 9.6rem;
					height: 10.6rem;
          @media (max-width: 600px) {
            width: 88%;
            height: auto;
          }
				}
			}
		}
		p {
			color: #292929;
			font-size: clamp(0.6rem, 5vw, 0.8rem);
		}
		h2 {
			color: #292929;
			font-size: clamp(0.9rem, 7vw, 1.1rem);
		}
	}
}
