.AboutStorePage {
	background: rgb(244, 244, 244);
	width: 100%;
	// height: 100vh;
	height: auto;
	.content {
		padding-top: 50px;
		padding-bottom: 6.8rem;
		display: flex;
		flex-direction: column;
		// gap: 1.8rem;
		@media (max-width: 1100px) {
			padding-top: 2rem;
			padding-bottom: 4rem;
			
		}
		.divContents {
			display: flex;
			flex-direction: column;
			// align-items: start;
			gap: 3.1rem;
			@media (max-width: 888px) {
				gap: 2.4rem;
			}
			@media (max-width: 767px) {
				gap: 1.2rem;
			}
			p {
				color: rgb(145, 150, 158);
				font-size: clamp(0.5rem, 4vw, 0.8rem);
				display: flex;
				align-items: center;
				gap: 7px;
				@media (max-width: 740px) {
					gap: 5px;
				}
				h2 {
					color: rgba(56, 66, 85, 0.6);
					font-size: clamp(0.5rem, 4vw, 0.8rem);
				}
			}
			.nameStore {
				display: flex;
				flex-direction: column;
				gap: 0.4rem;
				@media (max-width: 850px) {
					gap: 0.2rem;
				}
				h3 {
					color: rgb(41, 41, 41);
					font-size: clamp(1.4rem, 5vw, 1.7rem);
				}
				div {
					/* Gray Input */
					border: 1px solid rgb(205, 205, 205);
					width: 100%;
					height: 1px;
					@media (max-width: 750px) {
						height: 0.5px;
						border: 0.5px solid rgb(205, 205, 205);
					}
				}
			}
			// .sliderDiv {
			// 	display: flex;
			// 	align-items: center;
			// }
			.contemtsDivForStorePage {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 1.3rem;
				@media (max-width: 750px) {
					gap: 0.7rem;
				}
				@media (max-width: 475px) {
					gap: 0.3rem;
				}
				h2 {
					color: rgb(41, 41, 41);
					font-size: clamp(0.9rem, 6vw, 1.2rem);
				}
				ul {
					display: flex;
					flex-direction: column;
					align-items: start;
					padding-left: 25px;
					li {
						color: rgb(41, 41, 41);
						font-size: clamp(0.8rem, 4vw, 1.1rem);
					}
				}
			}
			.contentsDiv {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 1.3rem;
				@media (max-width: 750px) {
					gap: 0.7rem;
				}
				@media (max-width: 475px) {
					gap: 0.3rem;
				}
				h2 {
					color: rgb(41, 41, 41);
					font-size: clamp(0.9rem, 6vw, 1.2rem);
				}
				.storePageInfo {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 1.4rem;
					@media (max-width: 632px) {
						gap: 0.9rem;
					}
					div {
						p {
							color: rgb(41, 41, 41);
							font-size: clamp(0.8rem, 4vw, 1.1rem);
						}
					}
				}
			}
			.divContentAndCard {
				display: flex;
				align-items: center;
				// justify-content: space-between;
				gap: 3rem;
				@media (max-width: 1100px) {
					gap: 0;
				}
				.contentStoreInfo {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 1.7rem;
					@media (max-width: 730px) {
						gap: 0.9rem;
					}
					h2 {
						color: rgb(41, 41, 41);
						font-size: clamp(0.9rem, 6vw, 1.2rem);
					}
					.textDiv1 {
						p {
							color: rgb(41, 41, 41);
							font-size: clamp(0.8rem, 4vw, 1.1rem);
						}
					}
				}
				.divPhotoIsKyrgyztan {
					position: absolute;
					// right: 1rem;
					top: 79.5rem;
					@media (max-width: 1500px) {
						display: none;
					}
					.containerMenuIsKyrgiztanRegions {
						display: flex;
						flex-direction: column;
						width: 24.5rem;
						height: auto;
						padding-block: 1.1rem;
						padding-inline: 1.15rem;
						border-radius: 8px;
						background-color: aliceblue;
						position: absolute;
						left: 63rem;
						top: -3rem;
						z-index: 100;
						h5 {
							text-align: center;
							color: black;
							font-size: clamp(0.8rem, 7vw, 1.2rem);
						}
						.contentsIsRegions {
							display: flex;
							justify-content: space-between;
							align-items: center;
							img {
								width: 4rem;
								height: 3.5rem;
								object-fit: cover;
								object-position: center;
								border-radius: 10px;
							}
						}
					}
					.imgBatken {
						position: relative;
						top: 15rem;
						left: 39rem;
						width: 15rem;
						height: 4.5rem;
						&:hover {
							transition: all 0.5s ease;
							width: 15.4rem;
							height: 4.9rem;
						}
					}
					.imgOsh {
						position: relative;
						top: 16.7rem;
						left: 33.5rem;
						width: 15.5rem;
						height: 11.3rem;
						&:hover {
							transition: all 0.5s ease;
							width: 15.9rem;
							height: 11.7rem;
						}
					}
					.imgNaryn {
						position: relative;
						top: 12.2rem;
						left: 27.5rem;
						width: 21.3rem;
						height: 13rem;
						&:hover {
							transition: all 0.5s ease;
							width: 21.7rem;
							height: 13.4rem;
						}
					}
					.imgJalalAbat {
						position: relative;
						top: 8.3rem;
						right: 8rem;
						width: 21.6rem;
						height: 7.8rem;
						&:hover {
							transition: all 0.5s ease;
							width: 22.1rem;
							height: 8.2rem;
						}
					}
					.imgTalas {
						position: relative;
						width: 14rem;
						height: 5rem;
						top: 2.3rem;
						right: 26.3rem;
						&:hover {
							transition: all 0.5s ease;
							width: 14.4rem;
							height: 5.4rem;
						}
					}
					.imgBishkek {
						position: relative;
						width: 19.6rem;
						height: 7.9rem;
						bottom: 7.8rem;
						left: 55.9rem;
						&:hover {
							transition: all 0.5s ease;
							width: 20rem;
							height: 8.3rem;
						}
					}
					.imgIssykKul {
						position: relative;
						width: 22rem;
						height: 10.5rem;
						left: 47rem;
						bottom: 3.7rem;
						&:hover {
							transition: all 0.5s ease;
							width: 22.4rem;
							height: 10.9rem;
						}
					}
				}
			}
		}
	}
}
