.loginPages {
	background: linear-gradient(
		135deg,
		rgb(107, 15, 169) 13.927%,
		rgb(77, 14, 184) 94.5%
	);
	width: 100%;
	height: 100vh;
	.content {
		display: flex;
		flex-direction: column;
		gap: 6rem;
		padding-block: 2.2rem;
		.displayFormDiv {
			display: flex;
			justify-content: center;
			.formsDiv {
				border-radius: 4px;
				width: 35.6rem;
				height: 23.2rem;
				box-shadow: 0px 10px 30px 0px rgba(133, 143, 164, 0.1);
				background: rgb(255, 255, 255);
				.forms {
					padding-top: 3.1rem;
					padding-inline: 3.2rem;
					padding-bottom: 3.25rem;
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
		}
	}
}
