.EditSections {
	width: 100%;
	height: 100vw;
	background: rgb(255, 255, 255);
	@media (max-width: 1200px) {
		height: auto;
	}
	.content {
		padding-block: 40px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		@media (max-width: 950px) {
			padding-block: 30px;
			gap: 25px;
		}
		@media (max-width: 750px) {
			padding-block: 20px;
			gap: 20px;
		}
		.pages_text_div {
			display: flex;
			align-items: center;
			gap: 6px;
			@media (max-width: 768px) {
				gap: 3px;
			}
			.edit_page_text {
				color: rgb(145, 150, 158);
				font-size: clamp(8px, 4vw, 14px);
			}
			p {
				color: rgb(145, 150, 158);
				font-size: clamp(8px, 4vw, 14px);
				cursor: pointer;
			}
			@media (max-width: 650px) {
				gap: 3px;
			}
		}
		.content_and_border {
			display: flex;
			flex-direction: column;
			gap: 12px;
			@media (max-width: 700px) {
				gap: 9.5px;
			}
			h2 {
				color: rgb(41, 41, 41);
				letter-spacing: 0%;
				text-align: left;
				font-size: clamp(14px, 5vw, 29px);
				font-weight: 500;
				line-height: 110%;
			}
			.border {
				width: 100%;
				border: 1px solid rgb(205, 205, 205);
			}
		}
		.form_container {
			display: flex;
			flex-direction: column;
			gap: 12px;
			width: 80%;
			@media (max-width: 768px) {
				gap: 8px;
			}
			@media (max-width: 700px) {
				width: 100%;
			}
			.form_content_1 {
				display: flex;
				align-items: start;
				gap: 20px;
				@media (max-width: 850px) {
					flex-wrap: wrap;
					align-items: start;
				}
				@media (max-width: 768px) {
					gap: 15px;
				}
				.form_1 {
					display: flex;
					flex-direction: column;
					gap: 18px;
					@media (max-width: 768px) {
						gap: 11px;
					}
					.label_and_input_div {
						display: flex;
						flex-direction: column;
						gap: 5px;
						@media (max-width: 555px) {
							gap: 2.5px;
						}
						label {
							color: rgb(56, 66, 85);
							font-size: clamp(7px, 4vw, 14px);
							font-weight: 400;
						}
						.edit_images {
							display: flex;
							flex-wrap: wrap;
							gap: 35px;
							width: 100%;
							max-width: 345px;
							height: auto;
							img {
								width: 100%;
								max-width: 85px;
								height: 110px;
							}
						}
						.file_div {
							box-sizing: border-box;
							border: 1px dashed rgb(41, 41, 41);
							border-radius: 4px;
							background: rgba(210, 212, 216, 0.5);
							width: 100%;
							max-width: 250px;
							// height: 145px;
							height: auto;
							.divplay_file_contents {
								display: flex;
								flex-direction: column;
								align-items: center;
								// justify-content: space-between;
								gap: 15px;
								padding-block: 25px;
								.file_text_div {
									display: flex;
									flex-direction: column;
									gap: 10px;
									p {
										color: rgb(41, 41, 41);
										font-size: clamp(7px, 4vw, 10px);
										font-weight: 400;
									}
									.div_for_quantity_photo_text_div {
										li {
											color: rgb(41, 41, 41);
											font-size: clamp(7px, 4vw, 10px);
											font-weight: 400;
										}
									}
								}
							}
						}
						.input {
							// width: 100%;
							width: 392px;
							height: 39px;
							border-radius: 5px;
							border: 1px solid rgb(170, 27, 170);

							@media (max-width: 800px) {
								width: 320px;
							}
							@media (max-width: 585px) {
								width: 280px;
								height: 34px;
							}
						}
						.input::placeholder {
							color: black;
						}
					}
					.colors_div {
						display: flex;
						flex-direction: column;
						gap: 7px;
						margin-top: 25px;
						@media (max-width: 785px) {
							gap: 5px;
						}
						label {
							color: rgb(56, 66, 85);
							font-size: clamp(7px, 4vw, 14px);
							font-weight: 400;
						}
						.color_div {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding-inline: 15px;
							padding-block: 5px;
							border-radius: 5px;
							width: 100%;
							max-width: 392px;
							height: 39px;
							border-radius: 5px;
							border: 1px solid rgb(170, 27, 170);
							background-color: transparent !important;
							@media (max-width: 800px) {
								width: 320px;
							}
							@media (max-width: 585px) {
								width: 280px;
								height: 34px;
							}
						}
					}
				}
				.form_2 {
					display: flex;
					flex-direction: column;
					gap: 10px;
					@media (max-width: 768px) {
						gap: 4px;
					}
					.label_and_input_div {
						display: flex;
						flex-direction: column;
						gap: 5px;
						@media (max-width: 555px) {
							gap: 2.5px;
						}
						label {
							color: rgb(56, 66, 85);
							font-size: clamp(7px, 4vw, 14px);
							font-weight: 400;
						}
						.input {
							width: 392px;
							height: 39px;
							border-radius: 5px;
							border: 1px solid rgb(170, 27, 170);

							@media (max-width: 800px) {
								width: 320px;
							}
							@media (max-width: 585px) {
								width: 280px;
								height: 34px;
							}
						}
						.input::placeholder {
							color: black;
						}
					}
				}
			}
			.button_div {
				text-align: center;
				.button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 150px;
					height: 40px;
					border-radius: 5px;
					border: none;
					background: rgb(203, 17, 171);
					color: #fff;
					font-size: clamp(7px, 5vw, 16px);
					font-weight: 500;
					@media (max-width: 600px) {
						width: 120px;
						height: 35px;
						font-weight: 400;
					}
				}
			}
		}
	}
}
