.serachArticul {
	border-radius: 10px 10px 10px 10px;
	max-width: 100%;
	width: 784px;
	// height: 40px;
	// border: none;
	color: black;
	background-color: white;
	display: flex;
	.serachArticulInput {
		border-radius: 10px 0 0 10px;
		max-width: 100%;
		width: 744px;
		height: 40px;
		border: none;
		color: black;
		background-color: white;
		&:focus {
			outline: none;
			border: none;
		}
	}
	&:hover {
		border: 2px solid rgb(228, 16, 175);
	}
	.searchIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0 10px 10px 0;
		max-width: 100%;
		width: 40px;
		height: 40px;
		border: none;
		color: black;
		// background-color: white;
		color: gray;
	}
}
