.catalog {
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 3.1rem;
    padding-bottom: 7.1rem;
    display: flex;
    gap: 2.3rem;

    .navigationP {
      display: flex;
      align-items: center;
      gap: 5px;
      color: rgb(145, 150, 158);
      font-size: clamp(0.5rem, 4vw, 0.8rem);
      cursor: pointer;

      h3 {
        color: rgba(56, 66, 85, 0.6);
        font-size: clamp(0.5rem, 4vw, 0.8rem);
      }
    }

    .divHeading {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        color: rgb(41, 41, 41);
        font-size: clamp(1.4rem, 5vw, 1.7rem);
      }

      div {
        width: 860%;
        height: 1px;
        border: 1px solid rgb(205, 205, 205);
      }
    }

    .divBottom {
      display: flex;
      flex-direction: column;
      margin-top: 120px;

      h2 {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
      }

      .bottomCards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 35px;

      }

      .cards {
        .card {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          padding: 10px 10px 25px 10px;
          width: 230px;
          border-radius: 8px;
          transition: box-shadow 0.3s ease;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
          }

          .middle_image_card {
            display: flex;
            justify-content: center;

            img {
              width: 100%;
            }
          }

          .middle_card {
            display: flex;
            flex-direction: column;

            .phone_quantity {
              color: #2FC409;
              font-weight: 500;
              font-size: 11px;
              margin-top: 20px;
            }

            h3 {
              margin-top: 8px;
              font-weight: 600;
              font-size: clamp(0.5rem, 4vw, 0.8rem);
              width: 100%;
              max-width: 70%;
              margin-top: 20px;
            }

            .phone_rating {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 5px;
              margin-top: 9px;

              .rating_stars {
                display: flex;
                gap: 1px;
              }

              p {
                color: #8E9AB3;
                font-size: 11px;
              }
            }
          }

          .bottom_card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 18px;


            .phone_price {
              font-size: 17px;
              font-weight: 700;
            }
          }
        }
      }
    }

    .divGlobal {
      display: flex;

      .divLeft {
        p {
          color: rgba(145, 150, 158, 1);
          font-size: clamp(0.5rem, 4vw, 0.8rem);
          margin-bottom: 18px;
        }

        .divBackgroundLeft {
          width: 100%;
          max-width: 285px;
          background-color: #fff;
          padding: 25px 22px 5px 22px;

          h4 {
            color: #5786F7;
            font-weight: 500;
            font-size: clamp(0.5rem, 4vw, 0.9rem);
            cursor: pointer;
            margin-bottom: 20px;
          }

          .divLine {
            width: 100%;
            height: 1px;
            border: 1px solid rgba(232, 232, 232, 1);
            margin-bottom: 20px;
          }

          .category {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 64%;

            p {
              font-size: clamp(0.5rem, 4vw, 0.8rem);
              font-weight: 600;
              color: rgba(56, 66, 85, 1);
            }

            svg {
              color: #CB11AB;
              cursor: pointer;
            }

            img {
              cursor: pointer;
              margin-top: 5px;
            }
          }

          .categoriesDiv {
            .categories {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 5px;

              p {
                color: rgba(41, 41, 41, 1);
                margin-top: 1px;
              }

              input[type="checkbox"] {
                cursor: pointer;
                opacity: 0;
                position: absolute;
              }

              label {
                display: flex;
              }

              label::before {
                content: "";
                width: 1em;
                height: 1em;
                border-radius: .15em;
                margin-right: .5em;
                border: .05em solid #909CB5;
              }


              input[type="checkbox"]:hover+label::before {
                transition: 0.5s;
                background-color: #e3e2e2;
              }

              input[type="checkbox"]:checked+label::before {
                content: "✓";
                background-color: #CB11AB;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
              }
            }
          }

          .anotherCostDiv {
            padding: 0 230px 0 0;
          }

          .costDiv {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 61%;

            p {
              font-size: clamp(0.5rem, 4vw, 0.8rem);
              font-weight: 600;
              color: rgba(56, 66, 85, 1);
            }

            img {
              cursor: pointer;
              margin-top: 5px;
            }

            svg {
              cursor: pointer;
            }
          }

          .priceDiv {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            align-items: center;
            margin-bottom: 30px;

            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            p {
              position: absolute;
            }

            .pOne {
              margin-top: 17px;
              margin-left: 10px;
            }

            .pTwo {
              margin-top: 17px;
              margin-left: 135px;
            }

            input {
              border: 1px solid #D5D5D5;
              background-color: transparent;
              width: 105px;
              padding-left: 35px;
              height: 30px;
              border-radius: 4px;
              color: #000;
              appearance: none;
              -moz-appearance: textfield;
            }
          }

          .priceChangerDiv {
            display: flex;
            gap: 1px;
            margin-bottom: 20px;


            .progress {
              height: 2px;
              background-color: #CA11AA;
              width: 74%;
              margin-top: 1px;
            }

            .progressTwo {
              margin-right: -103px;
              height: 2px;
              background-color: #CA11AA;
              width: 80%;
              margin-top: 4px;
            }

            .price {
              margin-left: -104px;
              width: 80%;
              height: 1px;
              background: none;
              appearance: none;
              -webkit-appearance: none;
            }



            .priceTwo {
              margin-left: -10px;
              margin-top: 3px;
              width: 90%;
              height: 1px;
              background: none;
              appearance: none;
              -webkit-appearance: none;
            }

            .price::-webkit-slider-thumb {
              appearance: none;
              border-radius: 100%;
              background-color: #CA11AA;
              height: 13px;
              width: 13px;
              cursor: pointer;
            }

            .priceTwo::-webkit-slider-thumb {
              appearance: none;
              border-radius: 100%;
              background-color: #CA11AA;
              height: 13px;
              width: 13px;
              cursor: pointer;
            }
          }

          .colourDiv {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 78%;

            p {
              font-size: clamp(0.5rem, 4vw, 0.8rem);
              font-weight: 600;
              color: rgba(56, 66, 85, 1);
            }

            svg {
              cursor: pointer;
            }

            img {
              cursor: pointer;
              margin-top: 5px;
            }
          }

          .colours {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;

            p {
              color: rgba(41, 41, 41, 1);
              margin-top: 1px;
              margin-right: 6px;
            }

            span {
              color: #A7ABB1;
              font-weight: 300;
              font-size: clamp(0.5rem, 4vw, 0.8rem);
            }

            input[type="checkbox"] {
              cursor: pointer;
              opacity: 0;
              position: absolute;
            }

            label {
              display: flex;
            }

            label::before {
              content: "";
              width: 1em;
              height: 1em;
              border-radius: .15em;
              margin-right: .5em;
              border: .05em solid #909CB5;
            }


            input[type="checkbox"]:hover+label::before {
              transition: 0.5s;
              background-color: #e3e2e2;
            }

            input[type="checkbox"]:checked+label::before {
              content: "✓";
              background-color: #CB11AB;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
            }
          }

          .clapDiv {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 3px;
            cursor: pointer;

            p {
              color: #2C68F5;
            }
          }

          .gbDiv {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 38%;

            p {
              font-size: clamp(0.5rem, 4vw, 0.8rem);
              font-weight: 600;
              color: rgba(56, 66, 85, 1);
            }

            svg {
              cursor: pointer;
            }

            img {
              cursor: pointer;
              margin-top: 5px;
            }
          }

          .gigabytes {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;

            p {
              color: rgba(41, 41, 41, 1);
              margin-top: 1px;
              margin-right: 6px;
            }

            span {
              color: #A7ABB1;
              font-weight: 300;
              font-size: clamp(0.5rem, 4vw, 0.8rem);
            }

            input[type="checkbox"] {
              cursor: pointer;
              opacity: 0;
              position: absolute;
            }

            label {
              display: flex;
            }

            label::before {
              content: "";
              width: 1em;
              height: 1em;
              border-radius: .15em;
              margin-right: .5em;
              border: .05em solid #909CB5;
            }


            input[type="checkbox"]:hover+label::before {
              transition: 0.5s;
              background-color: #e3e2e2;
            }

            input[type="checkbox"]:checked+label::before {
              content: "✓";
              background-color: #CB11AB;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
            }
          }

          .gigabytesMoreDiv {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 3px;

            p {
              color: #2C68F5;
              cursor: pointer;
            }

            img {
              margin-top: 1px;
              cursor: pointer;
            }
          }

          .moreGbDiv {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1%;

            p {
              font-size: clamp(0.5rem, 4vw, 0.8rem);
              font-weight: 600;
              color: rgba(56, 66, 85, 1);
            }

            svg {
              cursor: pointer;
            }

            img {
              cursor: pointer;
              margin-top: 5px;
            }
          }

          .moreGb {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;

            p {
              color: rgba(41, 41, 41, 1);
              margin-top: 1px;
              margin-right: 6px;
            }

            span {
              color: #A7ABB1;
              font-weight: 300;
              font-size: clamp(0.5rem, 4vw, 0.8rem);
            }

            input[type="checkbox"] {
              cursor: pointer;
              opacity: 0;
              position: absolute;
            }

            label {
              display: flex;
            }

            label::before {
              content: "";
              width: 1em;
              height: 1em;
              border-radius: .15em;
              margin-right: .5em;
              border: .05em solid #909CB5;
            }


            input[type="checkbox"]:hover+label::before {
              transition: 0.5s;
              background-color: #e3e2e2;
            }

            input[type="checkbox"]:checked+label::before {
              content: "✓";
              background-color: #CB11AB;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
            }
          }
        }
      }

      .divRight {
        margin-left: 23px;

        .showButtons {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 35px;

          .moreButton {
            background-color: transparent;
            border: 1px solid #CB11AB;
            color: #CB11AB;
            border-radius: 4px;
            font-weight: 600;
            font-size: clamp(0.5rem, 4vw, 0.9rem);
            padding: 10px 80px;
            cursor: pointer;
          }
        }


        .filterDiv {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: -12px;
          margin-bottom: 11px;
          
          .categoriesRight {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            .category_right {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #E8E8E8;
              padding: 5px 15px 5px 10px;
              border-radius: 6px;
              border: 1px solid #CDCDCD;

              svg {
                cursor: pointer;
              }
            }
          }

          .sortDiv {
            display: flex;
            gap: 10px;
            margin-bottom: 11px;
            margin-right: 10px;           
          }
        }

        .cardss {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          .cards {
            .card {
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              padding: 10px 10px 25px 10px;
              width: 275px;
              border-radius: 8px;
              transition: box-shadow 0.3s ease;
              cursor: pointer;

              &:hover {
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
              }

              .top_card {
                display: flex;
                justify-content: space-between;
                height: 32px;

                p {
                  font-size: 12px;
                  font-weight: 700;
                  color: #fff;
                  background-color: #F53B49;
                  border-radius: 100%;
                  display: flex;
                  align-items: center;
                  padding: 9px 0 9px 0;
                }

                .top_icons {
                  display: flex;
                  gap: 10px;

                  svg {
                    color: #AAB1BF;
                    transition: 0.3s;
                    &:hover {
                    
                      color: #CA11AA;
                    }
                  }
                }

              }

              .middle_image_card {
                display: flex;
                justify-content: center;

                img {
                  width: 80%;
                }
              }

              .middle_card {
                display: flex;
                flex-direction: column;

                .phone_quantity {
                  color: #2FC409;
                  font-weight: 500;
                  font-size: 11px;
                  margin-top: 20px;
                }

                h3 {
                  margin-top: 8px;
                  font-weight: 600;
                  font-size: 16px;
                }

                .phone_rating {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 5px;
                  margin-top: 9px;

                  .rating_stars {
                    display: flex;
                    gap: 1px;
                  }

                  p {
                    color: #8E9AB3;
                    font-size: 11px;
                  }
                }
              }

              .bottom_card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 18px;

                .phone_prices {
                  display: flex;
                  flex-direction: column;
                  margin-left: 10px;

                  .phone_price {
                    font-size: 17px;
                    font-weight: 700;
                  }

                  .phone_old_price {
                    margin-top: 2px;
                    font-size: 14px;
                    color: #909CB5;
                    text-decoration: line-through;
                  }
                }

                .bottom_cart {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 3px;
                  background-color: #CB11AB;
                  padding: 12px;
                  border-radius: 6px;
                  cursor: pointer;

                  p {
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                  }

                  svg {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}











