.favorite {
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    padding-top: 49.6px;
    padding-bottom: 104px;
    gap: 107.2px;

    @media (max-width: 1100px) {
      padding-top: 32px;
      padding-bottom: 64px;
      gap: 64px;
    }

    @media (max-width: 650px) {
      padding-top: 24px;
      padding-bottom: 35px;
      gap: 48px;
    }

    .page_content_1 {
      display: flex;
      flex-direction: column;
      gap: 28.8px;

      .navigation_p {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgb(145, 150, 158);
        font-size: clamp(0.5rem, 4vw, 0.8rem);
        cursor: pointer;

        h3 {
          color: #292929;
          font-weight: 400;
          font-size: clamp(0.5rem, 4vw, 0.8rem);
        }
      }

      .div_heading {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media (max-width: 700px) {
          gap: 11.2px;
        }

        h3 {
          color: rgb(41, 41, 41);
          font-size: clamp(1.4rem, 5vw, 1.7rem);
        }

        div {
          width: 100%;
          height: 1px;
          border: 1px solid rgb(205, 205, 205);

          @media (max-width: 700px) {
            height: 0.5px;
            border: 0.5px solid rgb(205, 205, 205);
          }
        }
      }

      .div_navigation {
        display: flex;
        gap: 10px;

        button {
          background-color: #E0E2E7;
          color: #384255;
          font-weight: 600;
          padding: 7px 15px;
          border-radius: 4px;
          border: none;
          transition: 0.3s;
          cursor: pointer;

          @media (max-width: 424px) {
            padding: 7px 10px;
            font-size: clamp(0.5rem, 4vw, 0.6rem);
          }

          @media (max-width: 321.60px) {
            padding: 7px 10px;
            font-size: clamp(0.4rem, 4vw, 0.5rem);
          }

          &:hover {
            background-color: #d3d4d6;
          }
        }

        .active_button {
          background-color: #384255;
          color: #ffffff;
          font-weight: 600;
          padding: 7px 15px;
          border-radius: 4px;
          border: none;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            background-color: #384255;
          }
        }
      }
    }

    .page_content_2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 100%;
        max-width: 400px;

        @media (max-width: 440px) {
          margin-top: 30px;
        }
      }

      .image_text {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 25px;

        h2 {
          font-size: clamp(14px, 7vw, 24px);
          font-weight: 500;
        }

        p {
          font-size: clamp(12px, 7vw, 18px);
          font-weight: 400;
        }

        button {
          padding: 10px 24px;
          border: none;
          border-radius: 5px;
          background: #cb11ab;
          font-size: 16px;
          font-weight: 500;

          cursor: pointer;
        }
      }

      .products_card {
        display: flex;
        flex-direction: column;
        align-self: start;
        gap: 35px;

        .continue_button {
          display: flex;
          align-self: center;

          button {
            color: #CB11AB;
            background-color: transparent;
            border: 1px solid #CB11AB;
            padding: 10px 15px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
          }
        }

        .cards {
          display: flex;
          flex-wrap: wrap;
          align-self: flex-start;
          gap: 20px;

          .card {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            background-color: #ffffff;
            height: 400px;
            padding: 30px 20px;

            img {
              align-self: center;
              width: 130px;
            }

            h3 {
              font-weight: 600;
              font-size: clamp(0.7rem, 4vw, 0.9rem);
              width: 100%;
              max-width: 80%;
            }

            .card_rating {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;

              @media (max-width: 440px) {
                position: relative;
                bottom: 30px;
              }

              p {
                color: #8E9AB3;
                font-size: clamp(0.3rem, 4vw, 0.8rem);
              }

              img {
                width: 60px;
                @media (max-width: 440px) {
                  margin-bottom: 27px;
                }
              }
            }

            h2 {
              font-size: clamp(1rem, 4vw, 1.3rem);
              @media (max-width: 440px) {
                position: relative;
                bottom: 50px;
              }
            }
          }
        }
      }
    }
  }
}