.CharacteristicsPage {
	display: flex;
	flex-direction: column;
	align-items: start;
	overflow: auto;
	width: 856px;
	height: 320.6px;
	@media (max-width: 925px) {
		width: 100%;
		height: 315px;
	}
	@media (max-width: 650px) {
		height: 310px;
	}
	.product_contents {
		display: flex;
		flex-direction: column;
		gap: 1.1rem;
		width: 820px;
		@media (max-width: 935px) {
			width: 100%;
		}
		@media (max-width: 925px) {
			gap: 0.6rem;
		}
		@media (max-width: 850px) {
			gap: 6px;
		}
		.content_characteristics {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media (max-width: 925px) {
				display: flex;
				justify-content: space-between;
				padding-right: 20px;
				align-items: center;
				gap: 0;
			}
			h3 {
				color: rgb(56, 66, 85);
				font-size: clamp(10px, 8vw, 20px);
				@media (max-width: 500px) {
					font-size: clamp(16px, 8vw, 16px);
				}
			}
			.icon {
				transition: all 0.5s ease;
				&.iconActive {
					transition: all 0.5s ease;
					transform: rotate(-90deg);
				}
			}
			.icon2 {
				transition: all 0.5s ease;
				margin-left: 56px;
				@media (max-width: 925px) {
					margin-left: 0;
				}
				&.iconActive2 {
					transition: all 0.5s ease;
					transform: rotate(-90deg);
				}
			}
		}
		.render_info_product {
			display: flex;
			flex-direction: column;
			align-items: start;
			width: 824px;
			height: auto;
			@media (max-width: 925px) {
				width: 97.5%;
				margin-block: 10px;
			}
			@media (max-width: 650px) {
				margin-block: 8px;
			}
			@media (max-width: 425px) {
				height: auto;
			}
			@media (max-width: 650px) {
				height: auto;
			}
			.product_info_text_main {
				padding-block: 5px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-top: 0.5px solid rgb(194, 199, 209);
				border-bottom: 0.5px solid rgb(194, 199, 209);
				// gap: 5rem;
				width: 100%;
				@media (max-width: 925px) {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 32px;
				}
				@media (max-width: 425px) {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 0;
				}
				p {
					color: rgb(56, 66, 85);
					font-size: clamp(8px, 7vw, 16px);
					font-weight: 700;
				}
				.text_product {
					color: rgb(41, 41, 41);
					font-size: clamp(0.7rem, 4vw, 1rem);
					padding-right: 176px;
					font-weight: 400;
					@media (max-width: 925px) {
						padding-right: 0;
					}
				}
			}
		}
	}
}
