.ReviewsPage {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 48px;
	.reviews_contents_div {
		display: flex;
		align-items: start;
		gap: 225px;
		@media (max-width: 1400px) {
			gap: 170px;
		}
		@media (max-width: 1288px) {
			gap: 145px;
		}
		@media (max-width: 1222px) {
			gap: 125px;
		}
		@media (max-width: 1143px) {
			gap: 100px;
		}
		@media (max-width: 1043px) {
			gap: 85px;
		}
		@media (max-width: 973px) {
			gap: 60px;
		}
		@media (max-width: 876px) {
			gap: 45px;
		}
		@media (max-width: 800px) {
			gap: 10px;
			flex-wrap: wrap;
		}
		@media (max-width: 580px) {
			display: flex;
			flex-direction: column-reverse;
			align-items: start;
		}
		.contents_and_commits_users {
			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 55px;
			h2 {
				color: rgb(41, 41, 41);
				font-size: clamp(15px, 5vw, 27.2px);
			}
			.div_users_commits {
				display: flex;
				align-items: start;
				gap: 10px;
				img {
					width: 32px;
					height: 32px;
					border-radius: 50%;
				}
				.commits_for_users_div {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 12px;
					.user_info {
						display: flex;
						flex-direction: column;
						align-items: start;
						h2 {
							color: rgb(41, 41, 41);
							font-size: clamp(10px, 7vw, 16px);
						}
						p {
							color: rgba(0, 0, 0, 0.5);
							font-size: clamp(8px, 7vw, 12.8px);
						}
					}
					.grade_div {
						display: flex;
						align-items: center;
						gap: 4px;
						p {
							color: rgb(41, 41, 41);
							font-size: clamp(8px, 7vw, 12.8px);
						}
					}
					.commit_user {
						color: rgb(56, 66, 85);
						font-size: clamp(10px, 7vw, 16px);
					}
				}
			}
		}
		.div_rating_results_content {
			border-radius: 6px;
			background: rgb(244, 244, 244);
			width: 100%;
			// max-width: 655px;
			// height: 223.2px;
			height: auto;
			@media (max-width: 450px) {
				width: 100%;
				height: 176px;
			}
			@media (max-width: 1424px) {
				width: 100%;
				height: auto;
			}
	
			.rating_div_content {
				padding-block: 28.4px;
				padding-inline: 37px;
				display: flex;
				flex-direction: column;
				gap: 22px;
				@media (max-width: 450px) {
					padding-block: 12.8px;
					padding-inline: 20.8px;
					gap: 15px;
				}
				@media (max-width: 650px) {
					padding-block: 17px;
					padding-inline: 24px;
					gap: 17px;
				}
				.div_displey_rating_content {
					display: flex;
					align-items: start;
					gap: 41.6px;
					@media (max-width: 750px) {
						justify-content: space-around;
					}
					@media (max-width: 650px) {
						// flex-wrap: wrap;
					}
					@media (max-width: 450px) {
						gap: 16px;
					}
					@media (max-width: 1000px) {
						gap: 10px;
						flex-wrap: wrap;
					}
					@media (max-width: 375px) {
						display: flex;
						flex-direction: column;
						align-items: start;
					}
					.div_all_reting_contents {
						display: flex;
						flex-direction: column;
						align-items: start;
						gap: 10px;
						@media (max-width: 450px) {
							gap: 7px;
						}
						@media (max-width: 650px) {
							width: 100%;
						}
						.text_result_rating {
							display: flex;
							align-items: start;
							gap: 9px;

							@media (max-width: 430px) {
								gap: 3px;
								display: flex;
								flex-direction: column;
								align-items: start;
							}
							@media (max-width: 1000px) {
								width: 100%;
								gap: 3px;
							}
							h3 {
								color: rgb(41, 41, 41);
								font-size: clamp(8px, 7vw, 14.8px);
							}
							.rate {
								width: 135px;
							}
						}
						p {
							color: rgb(145, 150, 158);
							font-size: clamp(8px, 7vw, 13.8px);
						}
					}
					.div_all_contents_results_rating {
						display: flex;
						flex-direction: column;
						align-items: start;

						@media (max-width: 650px) {
							width: 100%;
						}
						.userReviews {
							display: flex;
							align-items: center;
							gap: 9px;
							width: 220px;
							@media (max-width: 1000px) {
								flex-wrap: wrap;
							}
							@media (max-width: 1000px) {
								width: 100%;
								height: auto;
							}
							@media (max-width: 650px) {
								width: 100%;
							}
							@media (max-width: 430px) {
								gap: 5px;
							}
							// .rate {
							// 	width: 140px;
							// }
							// .rate_index {
							// 	width: 150px;
							// }
							p {
								color: rgb(41, 41, 41);
								font-size: clamp(8px, 7vw, 13.8px);
							}
						}
					}
				}
				.button_rating {
					border-radius: 4px;
					background: rgb(203, 17, 171);
					color: rgb(255, 255, 255);
					font-size: clamp(10px, 6vw, 16px);
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

.content_modal {
	display: flex;
	flex-direction: column;
	gap: 38px;
	@media (max-width: 768px) {
		gap: 20px;
	}
	@media (max-width: 555px) {
		gap: 15px;
	}
	h3 {
		color: rgb(41, 41, 41);
		font-size: clamp(15px, 5vw, 30px);
	}
	.modal_content_for_reviews {
		display: flex;
		align-items: center;
		gap: 5px;
		color: rgb(41, 41, 41);
		font-size: clamp(10px, 4vw, 16px);
		@media (max-width: 555px) {
			gap: 3px;
		}
	}
	.modal_form_div {
		display: flex;
		flex-direction: column;
		gap: 7px;
		@media (max-width: 555px) {
			gap: 4px;
		}
		p {
			color: rgb(56, 66, 85);
			font-size: clamp(10px, 4vw, 16px);
		}
		.commit_input {
			box-sizing: border-box;
			border: 1px solid rgb(205, 205, 205);
			border-radius: 6px;
			background: rgb(255, 255, 255);
			width: 100%;
			height: 150px;
			color: rgb(145, 150, 158);
			font-size: clamp(10px, 4vw, 16px);
			@media (max-width: 555px) {
				height: 115px;
			}
		}
		.commit_input::placeholder {
			color: rgb(145, 150, 158);
			font-size: clamp(10px, 4vw, 16px);
		}
		.input_for_file {
			margin-top: 5px;
			width: 100%;
			height: 118px;
			box-sizing: border-box;
			border: 1px solid rgb(205, 205, 205);
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgb(255, 255, 255);
			@media (max-width: 555px) {
				height: 85px;
				margin-top: 3px;
			}
			.input_file_content_div {
				display: flex;
				align-items: center;
				justify-content: center;

				p {
					color: rgb(150, 150, 150);
					font-size: clamp(10px, 4vw, 16px);
					span {
						cursor: pointer;
						color: rgb(44, 104, 245);
						font-size: clamp(10px, 4vw, 16px);
					}
				}
			}
		}
		.button_modal {
			margin-top: 8px;
			width: 100%;
			height: 47px;
			border-radius: 4px;
			background: rgb(203, 17, 171);
			color: rgb(255, 255, 255);
			font-size: clamp(10px, 6vw, 16px);
			@media (max-width: 555px) {
				height: 42px;
				margin-top: 5.5px;
			}
			&:hover {
				background: rgb(203, 17, 171);
				color: rgb(255, 255, 255);
			}
		}
	}
}
