.burger_button {
	position: absolute;
	right: 0;
	top: 110px;
	z-index: 99;
	overflow: hidden;
	height: 0;
	background: #0e0d0d9e;
	border-radius: 10px;
	transition: all 0.5s;
	color: white;

	&.active {
		padding: 10px;
		height: 280px;
	}

	.nav {
		width: 100%;
		ul {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			li {
				width: 100%;
				.link {
					padding: 12px 10px;
					display: block;
					width: 100%;
					border-radius: 12px;
					transition: 0.2s;
					color: white;
					&:hover {
						background: white;
						color: #cb11ac;
					}
				}
			}
		}
	}
	.alone_div {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		.create_button {
			background-color: #cb11ac;
			border: none;
			border-radius: 20px;
			height: 35px;
			color: white;
			cursor: pointer;
		}
		.selected_option_icon {
			display: flex;
			justify-content: center;
			align-items: center;
			.button{
				display: flex;
				gap: 5px;
				justify-content: center;
				align-items: center;
				background: transparent;
				border: none;
				color: #fff;
				cursor: pointer;
				.icon {
					display: block;
					margin-top: 6px;
				}
			}
		}
	}
}
