.button {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: none;
	color: #cb11ab;
	border: none;
	cursor: pointer;
	transition: 0.4s;

	&:hover {
		background: #cb11ab;
		color: white;
	}

	svg {
		width: 13px;
		height: 11px;
		top: 19px;
		left: 31px;
		gap: 0px;
		border: 2px 0px 0px 0px;
		opacity: 0px;
	}
}
