.ShowButton {
	cursor: pointer;
	padding: 12px 64px 12px 64px;
	background-color: transparent;
	color: #cb11ab;
	border: 1px solid #cb11ab;
	border-radius: 4px;
	color: rgb(203, 17, 171);
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0px;
	text-align: center;
	&:hover {
		cursor: pointer;
		padding: 12px 64px 12px 64px;
		background-color: #cb11ab;
		color: white;
		border: none;
		border: 1px dashed rgb(151, 71, 255);
		transition: all 0.5s ease-in;
	}
	&:focus {
		cursor: pointer;
		padding: 12px 64px 12px 64px;
		background-color: #e313bf;
		color: white;
	}
}
