.HeaderMobile {
	position: sticky;
	top: 0;
	z-index: 999;
	padding-block: 12px;
	background: #1a1a25;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;

			@media (max-width: 768px) {
				cursor: default;
			}
			img {
				width: 35px;
				height: 35px;
			}
		}

		.search {
			width: 100%;
		}
	}

	// ! search 
	.main_search {
		.search_global {
			.loader {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80px;
			}
			.not_found {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80px;
			}
			position: absolute;
			top: 45px;
			display: flex;
			flex-direction: column;
			right: 32px;
			max-width: 880px;
			width: 100%;
			background-color: white;
			box-shadow: 0px 0px 8px #ddd;
			border-radius: 10px;
			margin-top: 10px;
			max-height: 300px;
			padding: auto;
			overflow: scroll;
			// padding: 25px 50px;
			.div_product_map {
				cursor: pointer;
				box-shadow: 0px 0px 1px black;
				background-color: #ffffff;
				border-radius: 4px;
				width: 100%;
				max-width: 850px;
				height: 100px;
				display: flex;
				align-items: center;
				padding-block: 12px;
				padding-inline: 12px;
				gap: 15px;
				@media (max-width: 500px) {
					gap: 5px;
				}
				// position: relative;
				// @media (max-width: 330px) {
				// 	height: auto;
				// 	width: 1vw;
				// }
				// @media (max-width: 628px) {
				// 	height: auto;
				// 	width: 60vw;
				// }
				// @media (max-width: 550px) {
				// 	height: auto;
				// 	width: 300px;
				// }
				&:hover {
					box-shadow: 0px 0px 1px black;
					background-color: rgba(128, 128, 128, 0.144);
				}
				.div_img {
					display: flex;
					// justify-content: center;
					align-items: center;
					.img_product {
						width: 60px;
						height: 70px;
						font-size: 10px;
						@media (max-width: 600px) {
							width: 50px;
							height: 60px;
						}
					}
				}
				.div_product_contents {
					// margin-top: 10px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					@media (max-width: 600px) {
						// gap: 28px;
						margin-top: 0;
						justify-content: space-evenly;
					}
					@media (max-width: 480px) {
						flex-wrap: wrap;
					}
					.one_products {
						display: flex;
						flex-direction: column;
						gap: 20px;
						@media (max-width: 500px) {
							gap: 4px;
						}
						p {
							color: #292929;
							font-size: clamp(7px, 5vw, 14px);
						}
						h3 {
							color: #292929;
							font-size: clamp(7px, 5vw, 17px);
						}
						.rating_search {
							display: flex;
							align-items: center;
							gap: 2px;
							color: #909cb5;
							font-size: 14px;
							@media (max-width: 500px) {
								font-size: clamp(7px, 4vw, 14px);
								gap: 1px;
							}
							@media (max-width: 480px) {
								margin-top: 5px;
							}
							.rate {
								display: flex;
								align-items: center;
								font-size: 14px;
								font-size: clamp(7px, 4vw, 12px);

							}
						}
					}
					.div_buttons_and_price {
						display: flex;
						align-items: center;
						gap: 43px;
						@media (max-width: 600px) {
							display: flex;
							flex-direction: column;
							gap: 28px;
							align-items: start;
						}
						.product_price {
							display: flex;
							flex-direction: column;
							@media (max-width: 600px) {
								display: flex;
								align-items: center;
							}
							h2 {
								color: #292929;
								font-size: 17px;
							}
						}
					}
				}
			}
		}
	}

	//!burger_menu
	.burger_menu {
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 70px;

		width: 0;
		height: 0;
		opacity: 0;

		background: #cb11ace3;
		backdrop-filter: blur(4px);
		border-radius: 10px 0px 0px 10px;
		transition: all 0.5s;
		color: white;
		z-index: 99;

		&:active {
			padding: 10px;
			height: 300px;
		}
		&.active {
			opacity: 1;
			width: 270px;
			height: 450px;
		}
		.mobile_logo_menu {
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 15px;
			gap: 10px;

			.logo {
				svg {
					width: 200px;
					height: 40px;
				}
			}
			.profile {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		li {
			.link {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				color: white;
				padding: 10px 15px;
				gap: 15px;
				transition: all 0.5s;
				&:hover {
					background: #f5f5f5;
					color: #cb11ab;
					transition: all 0.5s;
				}
				&.active {
					background: #ffffff;
					color: #cb11ab;
				}
			}
		}
		.icons_mobile {
			margin-top: 15px;
			display: flex;
			flex-direction: column;
			gap: 15px;
			.icon_networks {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 55px;

				.icon_site {
					color: white;
				}
			}
			.icon_basket_heart {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 60px;
				position: relative;
				.icon {
					position: relative;
					cursor: pointer;
					transition: 0.2s;
					svg {
						color: white;
					}
					.count_for_products {
						position: absolute;
						top: -5px;
						left: 15px;
						width: 20px;
						height: 20px;
						border: 2px solid #1a1a25;
						border-radius: 50%;
						background: gray;
						font-size: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						&.count_for_products_active {
							position: absolute;
							top: -5px;
							left: 15px;
							width: 20px;
							height: 20px;
							// border: 2px solid #1a1a25;
							border-radius: 50%;
							background: #fff;
							font-size: 11px;
							display: flex;
							justify-content: center;
							align-items: center;
							color: #cb11ab;
						}
					}
				}
			}
		}
	}
}


.test {
	width: 100%;
	position: relative;
}