.HeaderMobile {
	position: sticky;
	top: 0;
	z-index: 999;
	padding-block: 12px;
	background: #1a1a25;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;

			@media (max-width: 768px) {
				cursor: default;
			}
			img {
				width: 35px;
				height: 35px;
			}
		}

		.search {
			width: 100%;
		}
	}

	//!burger_menu
	.burger_menu {
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 70px;

		width: 0;
		height: 0;
		opacity: 0;

		background: #cb11ace3;
		backdrop-filter: blur(4px);
		border-radius: 10px 0px 0px 10px;
		transition: all 0.5s;
		color: white;
		z-index: 99;

		&:active {
			padding: 10px;
			height: 300px;
		}
		&.active {
			opacity: 1;
			width: 270px;
			height: 450px;
		}
		.mobile_logo_menu {
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px 15px;
			gap: 10px;

			.logo {
				svg {
					width: 200px;
					height: 40px;
				}
			}
			.profile {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		li {
			.link {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				color: white;
				padding: 10px 15px;
				gap: 15px;
				transition: all 0.5s;
				&:hover {
					background: #f5f5f5;
					color: #cb11ab;
					transition: all 0.5s;
				}
				&.active {
					background: #ffffff;
					color: #cb11ab;
				}
			}
		}
		.icons_mobile {
			margin-top: 15px;
			display: flex;
			flex-direction: column;
			gap: 15px;
			.icon_networks {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 55px;

				.icon_site {
					color: white;
				}
			}
			.icon_basket_heart {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 60px;
				position: relative;
				.icon {
					position: relative;
					cursor: pointer;
					transition: 0.2s;
					svg {
						color: white;
					}
					span {
						position: absolute;
						top: -5px;
						left: 15px;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background: gray;
						font-size: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
	}
}
