.Header {
	position: sticky;
	top: 0;
	z-index: 999;
	padding-block: 22px;
	background: #1a1a25;
	transition: 0.2s;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 100px;
		.button_catalog_search {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 35px;
			@media (max-width: 1170px) {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 15px;
			}
			.logo {
				transition: all 3s ease-in-out; 
				svg {
					@media (max-width: 1170px) {
						width: 200px;
					}
					@media (max-width: 1140px) {
						width: 140px;
					}
				}
			}

			.hr_line {
				width: 0.9px;
				height: 40px;
				background: rgba(133, 143, 164, 0.15);
				transform: rotate(900deg);
			}
			.search {
				width: 100%;
			}
		}
		.icon_networks {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
			@media (max-width: 1000px) {
				// display: none;
			}
			.networkNone {
				display: none;
			}
			a {
				cursor: pointer;
				color: white;
				&:hover {
					color: #cb11ab;
				}
			}
			a {
				cursor: pointer;
				color: white;

				&:hover {
					color: #cb11ab;
				}
			}
			a {
				cursor: pointer;
				color: white;
				&:hover {
					color: #cb11ab;
				}
			}
		}
		.icon_basket_heart {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 25px;
			position: relative;
			.icon {
				position: relative;
				cursor: pointer;
				transition: 0.2s;
				svg {
					color: white;
					&:hover {
						color: #cb11ab;
					}
				}
				.count_for_products {
					position: absolute;
					top: -5px;
					left: 15px;
					width: 20px;
					height: 20px;
					border: 2px solid #1a1a25;
					border-radius: 50%;
					background: gray;
					font-size: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					&.count_for_products_active {
						position: absolute;
						top: -5px;
						left: 15px;
						width: 20px;
						height: 20px;
						// border: 2px solid #1a1a25;
						border-radius: 50%;
						background: #cb11ab;
						font-size: 11px;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #fff;
					}
				}
			}
		}
	}

	// !HEADER MOBILE
	.content_mobile {
		position: absolute;
		top: 0;
		right: -20px;
		padding: 14px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 5px;
			.icon_g_adget {
				padding: 5px 5px;
				background: #cb11ab;
				.icon_g {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.icon_adgetarium {
				margin-top: 15px;
				@media (max-width: 720px) {
					display: none;
				}
			}
		}
	}
	// !search
	.main_search {
		.search_global {
			.loader {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80px;
			}
			.not_found {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80px;
			}
			position: absolute;
			top: 65px;
			display: flex;
			flex-direction: column;
			max-width: 850px;
			width: 100%;
			background-color: white;
			box-shadow: 0px 0px 8px #ddd;
			border-radius: 10px;
			margin-top: 10px;
			max-height: 300px;
			padding: auto;
			overflow: scroll;
			// padding: 25px 50px;
			.div_product_map {
				cursor: pointer;
				box-shadow: 0px 0px 1px black;
				background-color: #ffffff;
				border-radius: 4px;
				width: 100%;
				max-width: 850px;
				height: 100px;
				display: flex;
				align-items: center;
				padding-block: 12px;
				padding-inline: 12px;
				gap: 15px;
				// position: relative;
				// @media (max-width: 330px) {
				// 	height: auto;
				// 	width: 1vw;
				// }
				// @media (max-width: 628px) {
				// 	height: auto;
				// 	width: 60vw;
				// }
				// @media (max-width: 550px) {
				// 	height: auto;
				// 	width: 300px;
				// }
				&:hover {
					box-shadow: 0px 0px 1px black;
					background-color: rgba(128, 128, 128, 0.144);
				}
				.div_img {
					display: flex;
					// justify-content: center;
					align-items: center;
					.img_product {
						width: 60px;
						height: 70px;
						font-size: 10px;
						@media (max-width: 600px) {
							width: 50px;
							height: 60px;
						}
					}
				}
				.div_product_contents {
					// margin-top: 10px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					@media (max-width: 600px) {
						gap: 28px;
						margin-top: 0;
					}
					.one_products {
						display: flex;
						flex-direction: column;
						gap: 20px;
						h3 {
							color: #292929;
							font-size: 17px;
						}
						.rating_search {
							display: flex;
							align-items: center;
							gap: 2px;
							color: #909cb5;
							font-size: 14px;
							.rate {
								display: flex;
								align-items: center;
								font-size: 14px;
							}
						}
					}
					.div_buttons_and_price {
						display: flex;
						align-items: center;
						gap: 43px;
						@media (max-width: 600px) {
							display: flex;
							flex-direction: column;
							gap: 28px;
							align-items: start;
						}
						.product_price {
							display: flex;
							flex-direction: column;
							@media (max-width: 600px) {
								display: flex;
								align-items: center;
							}
							h2 {
								color: #292929;
								font-size: 17px;
							}
						}
					}
				}
			}
		}
	}
}

.test {
	width: 100%;
	position: relative;
}
