.ContactsPage {
	width: 100%;
	height: auto;
	background: rgb(244, 244, 244);
	.content {
		padding-top: 3.1rem;
		padding-bottom: 6.7rem;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		@media (max-width: 1100px) {
			padding-top: 2rem;
			padding-bottom: 4rem;
			gap: 2.3rem;
		}
		@media (max-width: 750px) {
			padding-top: 1.3rem;
			padding-bottom: 2.5rem;
			gap: 1.5rem;
		}
		.content_page {
			display: flex;
			flex-direction: column;
			gap: 30px;
			@media (max-width: 950px) {
				gap: 20px;
			}
			p {
				display: flex;
				align-items: center;
				color: rgb(145, 150, 158);
				font-size: clamp(0.5rem, 4vw, 0.8rem);
				gap: 5px;
				cursor: pointer;
				@media (max-width: 600px) {
					gap: 3px;
				}
				h3 {
					color: rgba(56, 66, 85, 0.6);
					font-size: clamp(0.5rem, 4vw, 0.8rem);
				}
			}
			.contacts_div_text_and_border_div {
				display: flex;
				flex-direction: column;
				gap: 18px;
				@media (max-width: 750px) {
					gap: 11px;
				}
				h2 {
					color: rgb(41, 41, 41);
					font-size: clamp(1.4rem, 5vw, 1.7rem);
				}
				div {
					width: 100%;
					height: 1px;
					border: 1px solid rgb(205, 205, 205);
					@media (max-width: 900px) {
						height: 0.5px;
						border: 0.5px solid rgb(205, 205, 205);
					}
				}
			}
		}
		.ContactsPage_content_center_text_and_form {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media (max-width: 1000px) {
				display: flex;
				flex-direction: column;
				align-items: start;
			}
			.contents_div_center {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 2.3rem;
				@media (max-width: 750px) {
					gap: 1.5rem;
					padding-bottom: 1.8rem;
				}
				p {
					color: rgb(41, 41, 41);
					font-size: clamp(1.2rem, 5vw, 1.5rem);
				}
				.texts_center_contents {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 1.1rem;
					@media (max-width: 750px) {
						gap: 0.6rem;
					}
					.text_div_1 {
						display: flex;
						flex-direction: column;
						align-items: start;
						gap: 5px;
						@media (max-width: 750px) {
							gap: 3px;
						}
						h3 {
							color: rgb(41, 41, 41);
							font-size: clamp(0.8rem, 7vw, 1.1rem);
						}
						p {
							color: rgb(41, 41, 41);
							font-size: clamp(0.8rem, 4vw, 1.1rem);
						}
					}
				}
			}
			.forms {
				display: flex;
				flex-direction: column;
				gap: 38px;
				@media (max-width: 750px) {
					gap: 25px;
				}
				h2 {
					color: rgb(41, 41, 41);
					font-size: clamp(1.1rem, 7vw, 1.4rem);
				}
				.div_form {
					display: flex;
					flex-direction: column;
					gap: 12px;
					@media (max-width: 750px) {
						gap: 10px;
					}
					.div_form_and_label {
						display: flex;
						align-items: center;
						gap: 11.5px;
						@media (max-width: 750px) {
							gap: 8px;
							flex-wrap: wrap;
						}
						.input_and_label_div {
							display: flex;
							flex-direction: column;
							gap: 7px;
							@media (max-width: 750px) {
								gap: 5px;
							}
							label {
								color: rgb(56, 66, 85);
								font-size: clamp(0.7rem, 4vw, 1rem);
							}
							.input {
								width: 20.4rem;
								height: 2.5rem;
								color: black;
								background-color: #fff;
							}
							.input::placeholder {
								color: black;
							}
						}
					}
					.message_and_label_div {
						display: flex;
						flex-direction: column;
						gap: 7px;
						@media (max-width: 750px) {
							gap: 5px;
						}
						label {
							color: rgb(56, 66, 85);
							font-size: clamp(0.7rem, 4vw, 1rem);
						}
						.input_for_message {
							width: 100%;
							height: 8.6rem;
							background-color: #fff;
							color: black;
						}
						.input_for_message::placeholder {
							color: black;
						}
					}
					p {
						color: rgb(243, 14, 14);
						font-size: clamp(0.8rem, 5vw, 1.1rem);
					}
					.buttonSubmit {
						// height: 2.7rem;
						// color: rgb(255, 255, 255);
						// border-radius: 4px;
						// background: rgb(99, 86, 97);
						height: 2.7rem;
							color: rgb(255, 255, 255);
							border-radius: 4px;
							background: rgb(203, 17, 171);
							border: none;
							font-size: clamp(7px, 5vw, 15px);
							font-weight: 500;
						// &.active_buttonSubmit {
						// 	height: 2.7rem;
						// 	color: rgb(255, 255, 255);
						// 	border-radius: 4px;
						// 	background: rgb(203, 17, 171);
						// }
					}
				}
			}
		}
	}
}
