.CatalogMenu {
	border-radius: 4px 0px 0px 4px;
	box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	position: relative;
	width: 22.3rem;
	height: 11.3rem;
	@media (max-width: 650px) {
		width: 35%;
		height: 13rem;
	}
	@media (max-width: 560px) {
		width: 38%;
		height: 12rem;
	}
	.content {
		padding-inline: 0.9rem;
		padding-block: 1rem;
		display: flex;
		flex-direction: column;
		gap: 7px;
		@media (max-width: 650px) {
			padding-inline: 0.5rem;
			padding-block: 0.6rem;
			gap: 4px;
		}
		@media (max-width: 560px) {
			padding-block: 0.3rem;
			padding-block: 0.4rem;
		}
		button {
			border: none;
			background-color: transparent;
			padding-inline: 12px;
			padding-block: 6px;
			cursor: pointer;
			display: flex;
			width: 100%;
			height: auto;
			align-items: center;
			gap: 0.7rem;
			padding-inline: 12px;
			gap: 0.7rem;
			color: rgb(41, 41, 41);
			border-radius: 11px;
			font-size: clamp(0.7rem, 4vw, 0.9rem);
			@media (max-width: 650px) {
				padding-inline: 8px;
				padding-block: 4px;
				gap: 0.4rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			@media (max-width: 560px) {
				padding-block: 3px;
				padding-inline: 6px;
				gap: 0.3rem;
			}
			div {
				display: flex;
				align-items: center;
				position: relative;
				left: 10rem;
				@media (max-width: 650px) {
					position: relative;
					left: 0;
					// top: 0;
				}
			}
			.div2 {
				display: flex;
				align-items: center;
				position: relative;
				left: 5.8rem;
				@media (max-width: 650px) {
					position: relative;
					left: 0;
					// top: 0;
				}
			}
			.div3 {
				display: flex;
				align-items: center;
				position: relative;
				left: 5rem;
				@media (max-width: 650px) {
					position: relative;
					left: 0;
					// top: 0;
				}
			}
			&:hover {
				transition: all 0.4s ease;
				background: rgb(203, 17, 171);
				color: rgb(255, 255, 255);
			}
		}
		.hoverResultContainer {
			position: relative;
			border-radius: 0px 4px 4px 0px;
			width: 17.3rem;
			// height: 24.5rem;
			height: auto;
			padding-inline: 0.9rem;
			padding-block: 1.1rem;
			box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
			background: rgb(255, 255, 255);
			bottom: 188px;
			left: 344px;
			@media (max-width: 650px) {
				width: 11rem;
				padding-inline: 0.6rem;
				padding-block: 0.8rem;
				position: relative;
				left: 13rem;
				bottom: 12.1rem;
			}
			@media (max-width: 560px) {
				width: 10rem;
				left: 10.5rem;
				bottom: 11.5rem;
			}
			@media (max-width: 490px) {
				left: 9.5rem;
			}
			.divDisplay {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 0.7rem;
				@media (max-width: 650px) {
					gap: 0.2rem;
				}
				@media (max-width: 560px) {
					gap: 0.1rem;
				}
				h3 {
					color: rgb(41, 41, 41);
					font-size: clamp(0.7rem, 6vw, 1rem);
				}
				p {
					color: rgb(139, 139, 154);
					font-size: clamp(0.6rem, 4vw, 0.9rem);
					cursor: pointer;
					&:hover {
						transition: all 0.4s ease;
						color: rgb(41, 41, 41);
					}
				}
			}
		}
	}
}
