.dropdown_select {
	width: 100%;
	max-width: 160px;

	@media (max-width: 1231.20px) {
		max-width: 226px;
	}
	.selected_option {
		margin-left: 6px;
	}
	.selected_option_icon {
		display: flex;
		align-items: center;
		display: flex;
		gap: 5px;
		cursor: pointer;
		transition: 1s;
	}

	.dropdown {
		width: 173px;

		display: flex;
		flex-direction: column;

		button {
			background: transparent;
			border: none;
			display: flex;
			justify-content: start;
			cursor: pointer;
		}
	}
}
