// .dropdown_select {
// 	.selected_option {
// 		.dropdown {
//       display: flex;
//       flex-direction: column;
//       gap: 10px;
//       button{
//         background: red;
//         border-radius: 10px;
//       }

// 		}
// 	}
// }

.dropdown_select {
	.selected_option {
		// display: flex;
		margin-left: 6px;
		// align-items: center;
		// justify-content: center;
		/* Стили для .selected_option */
	}
	.selected_option_icon {
		margin-top: 5px;
		display: flex;
		gap: 5px;
		cursor: pointer;
		transition: 1s;
		// justify-content: space-between;
	}

	.dropdown {
		width: 173px;

		display: flex;
		flex-direction: column;
		// gap: 10px;

		button {
      cursor: pointer;

			// background: red;
			// border-radius: 10px;
			/* Стили для кнопок */
			background: transparent;
			border: none;
			display: flex;
			justify-content: start;
		}
	}
}
