.CardProductPage {
	width: 100%;
	height: auto;
	background: rgb(244, 244, 244);
	.content {
		display: flex;
		flex-direction: column;
		padding-top: 55px;
		padding-bottom: 115px;
		grid-gap: 40px;
		@media (max-width: 1000px) {
			padding-top: 30px;
			padding-bottom: 75px;
			grid-gap: 30px;
		}
		@media (max-width: 800px) {
			grid-gap: 20px;
			padding-top: 20px;
			padding-bottom: 45px;
		}
		.content_main_text_page {
			display: flex;
			// align-items: start;
			gap: 27px;
			flex-direction: column;
			@media (max-width: 800px) {
				gap: 17px;
			}
			.div_content_product_and_pages {
				display: flex;
				align-items: center;
				gap: 5px;
				@media (max-width: 800px) {
					gap: 3px;
				}
				p {
					color: rgb(145, 150, 158);
					font-size: clamp(8px, 4vw, 14px);
					cursor: pointer;
				}
			}
			.div_brad_product {
				display: flex;
				flex-direction: column;
				gap: 18px;
				@media (max-width: 800px) {
					gap: 10px;
				}
				h2 {
					color: rgb(55, 55, 241);
					font-size: clamp(18px, 8vw, 29px);
				}
				div {
					width: 100%;
					/* Gray Input */
					border: 1px solid rgb(205, 205, 205);
				}
			}
		}

		.display_keen_slider {
			display: flex;
			justify-content: space-between;
			align-items: start;
			// gap: 225px;
			width: 100%;
			@media (max-width: 1400px) {
				justify-content: space-evenly;
			}
			@media (max-width: 1376px) {
				display: flex;
				flex-wrap: wrap;
				gap: 32px;
			}
			.slider_div_contents {
				display: flex;
				flex-direction: column;
				// align-items: start;
				gap: 92px;
				@media (max-width: 1376px) {
					gap: 20px;
				}
				.slider_div {
					text-align: center;
					img {
						width: 304px;
						height: 364px;
						cursor: pointer;
						@media (max-width: 555px) {
							width: 70%;
							height: 300px;
							border-radius: 7px;
							object-fit: cover;
							object-position: center;
						}
						@media (max-width: 420px) {
							width: 65%;
							height: 300px;
						}
					}
				}
				.photosProduct {
					display: flex;
					align-items: center;
					gap: 10px;
					@media (max-width: 590px) {
						gap: 5px;
					}
					@media (max-width: 590px) {
						justify-content: center;
					}
					@media (max-width: 437px) {
						gap: 3px;
					}
					@media (max-width: 420px) {
						display: flex;
					}
					.slider_photos_div {
						&.activeBorder {
							border: 2px solid purple;
						}
						img {
							width: 70px;
							padding: 10px;
							height: 70px;
							cursor: pointer;
							@media (max-width: 1376px) {
								padding: 7px;
							}
							@media (max-width: 590px) {
								padding: 5px;
								width: 50px;
								height: 50px;
							}
							@media (max-width: 420px) {
								padding: 3px;
								width: 40px;
								height: 40px;
							}
						}
					}
				}
			}
			.product_info {
				display: flex;
				flex-direction: column;
				gap: 45px;
				@media (max-width: 650px) {
					gap: 30px;
				}
				@media (max-width: 555px) {
					gap: 20px;
				}
				@media (max-width: 808px) {
					width: 100%;
				}
				h3 {
					color: rgb(41, 41, 41);
					font-size: clamp(15px, 5vw, 29px);
					@media (max-width: 408px) {
						text-align: center;
					}
				}
				.product_content {
					display: flex;
					flex-direction: column;
					align-items: start;
					gap: 29px;
					@media (max-width: 650px) {
						gap: 15px;
					}
					@media (max-width: 555px) {
						gap: 10px;
					}

					.border_and_contents {
						display: flex;
						flex-direction: column;
						gap: 11px;
						@media (max-width: 650px) {
							gap: 7px;
						}
						@media (max-width: 800px) {
							width: 100%;
						}
						.product_rating_and_numbers {
							display: flex;
							align-items: center;

							gap: 200px;
							// justify-content: space-between;
							width: 100%;
							border: none;
							@media (max-width: 808px) {
								gap: 175px;
							}
							@media (max-width: 750px) {
								gap: 150px;
							}
							@media (max-width: 695px) {
								gap: 120px;
							}
							@media (max-width: 634px) {
								gap: 90px;
							}
							@media (max-width: 573px) {
								gap: 65px;
							}
							@media (max-width: 522px) {
								gap: 45px;
							}
							@media (max-width: 484px) {
								gap: 28px;
							}
							@media (max-width: 442px) {
								gap: 18px;
							}
							@media (max-width: 426px) {
								gap: 10px;
							}
							@media (max-width: 408px) {
								display: flex;
								// flex-direction: column;
								flex-wrap: wrap;
								gap: 4px;
								align-items: center;
								justify-content: center;
							}
							.text_buy_product {
								color: rgb(47, 197, 9);
								font-size: clamp(10px, 5vw, 16px);
								font-weight: 500;
							}
							p {
								color: rgb(41, 41, 41);
								font-size: clamp(10px, 5vw, 16px);
								display: flex;
								align-items: center;
								gap: 4px;

								span {
									color: rgb(41, 41, 41);
									font-size: clamp(10px, 5vw, 16px);
								}
							}
							div {
								display: flex;
								align-items: center;
								gap: 1.5px;
								border: none;
								@media (max-width: 408px) {
									display: flex;
									justify-content: center;
								}
								p {
									color: rgb(144, 156, 181);
									font-size: clamp(10px, 5vw, 16px);
								}
							}
						}
						div {
							width: 100%;
							/* Gray Input */
							border: 1px solid rgb(205, 205, 205);
							@media (max-width: 399px) {
								width: 100%;
								border: 0.5px solid rgb(205, 205, 205);
							}
						}
					}
					.colors_and_price_info_div_product {
						display: flex;
						flex-direction: column;
						gap: 11px;
						@media (max-width: 555px) {
							gap: 7px;
						}
						@media (max-width: 800px) {
							width: 100%;
						}
						.title_texts_and_price {
							display: flex;
							align-items: center;
							justify-content: space-between;
							// gap: 160px;
							@media (max-width: 815px) {
								justify-content: space-around;
							}
							@media (max-width: 762px) {
								justify-content: space-evenly;
								gap: 10px;
							}
							@media (max-width: 808px) {
								width: 100%;
							}
							@media (max-width: 555px) {
								// flex-wrap: wrap;
								flex-direction: column;
								align-items: start;
								gap: 7px;
							}
							h3 {
								color: rgb(41, 41, 41);
								font-size: clamp(10px, 7vw, 16px);
							}
							.prices_div {
								display: flex;
								align-items: center;
								gap: 16px;
								@media (max-width: 600px) {
									gap: 12px;
								}
								@media (max-width: 555px) {
									gap: 8px;
								}
								div {
									width: 33px;
									height: 33px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 50%;
									font-size: clamp(8px, 9vw, 12px);
									color: #fff;
									background: rgb(245, 59, 73);
								}
								h2 {
									color: rgb(41, 41, 41);
									font-size: clamp(17px, 7vw, 28px);
								}
								.previous_price {
									color: rgb(144, 156, 181);
									text-decoration: line-through;
									font-size: clamp(10px, 7vw, 18px);
								}
							}
						}
						.product_colors_and_content {
							display: flex;
							align-items: center;
							gap: 100px;
							@media (max-width: 390px) {
								gap: 0;
								justify-content: space-between;
							}
							// justify-content: space-between;
							.product_colors {
								display: flex;
								align-items: center;
								gap: 10px;
							}
							.div_buttons_counts {
								display: flex;
								align-items: center;
								gap: 4px;
								button {
									border: 1px solid rgb(144, 156, 181);
									// padding-block: 9px;
									// padding-inline: 9px;
									width: 32px;
									height: 32px;
									display: flex;
									align-items: center;
									justify-content: center;
									background: transparent;
									color: rgb(56, 66, 85);
									font-size: clamp(10px, 4vw, 20px);
									border-radius: 50%;
									cursor: pointer;
									&:hover {
										transition: all 0.3s ease;
										background: rgb(56, 66, 85);
										color: rgb(255, 255, 255);
									}
								}
								.input_for_quantity {
									background-color: aliceblue;
									width: 65px;
									font-size: clamp(7px, 4vw, 20px);
									font-weight: 400;
									border: none;
									box-shadow: 0px 0px 4px rgb(147, 148, 154);
								}
							}
							.border_div {
								// text-align: end;
								margin-left: 5rem;
								width: 220px;
								border: 1px solid rgba(133, 143, 164, 0.2);
								margin-top: -15px;
								@media (max-width: 600px) {
									display: none;
								}
							}
						}
						.product_info_container {
							display: flex;
							flex-direction: column;
							gap: 8px;
							@media (max-width: 900px) {
								width: 650px;
							}
							@media (max-width: 700px) {
								width: 585px;
							}

							@media (max-width: 652px) {
								width: 545px;
							}
							@media (max-width: 594px) {
								width: 100%;
							}
							.product_info_main_text_and_buttons {
								display: flex;
								align-items: center;
								justify-content: space-between;
								@media (max-width: 700px) {
									justify-content: space-around;
								}
								@media (max-width: 600px) {
									justify-content: space-between;
									flex-wrap: wrap;
									gap: 10px;
								}
								h3 {
									color: rgb(41, 41, 41);
									font-size: clamp(10px, 7vw, 16px);
								}
								.div_buttons_favorite_and_basket {
									display: flex;
									align-items: center;
									gap: 13px;
									@media (max-width: 557px) {
										gap: 7px;
									}
									@media (max-width: 552px) {
										gap: 4px;
									}
									@media (max-width: 548px) {
										flex-wrap: wrap;
									}
									.nooActiveButton {
										border: 1px solid rgb(144, 156, 181);
										background-color: transparent;
										display: flex;
										align-items: center;
										justify-content: center;
										border-radius: 4px;
										width: 64px;
										height: 45px;
										cursor: pointer;
										&.activeButton {
											border: 1px solid rgb(203, 17, 171);
											cursor: pointer;
										}
									}
									.active_basket_button_navigate {
										width: 190px;
										height: 45px;
										border-radius: 4px;
										background: rgb(47, 197, 9);
										color: rgb(255, 255, 255);
										font-size: clamp(8px, 6vw, 16px);
										border: none;
									}
									.add_bas_button {
										width: 196px;
										height: 45px;
										border-radius: 4px;
										background: rgb(203, 17, 171);
										color: rgb(255, 255, 255);
										font-size: clamp(8px, 6vw, 14px);
										border: none;
										&:hover {
											color: white;
											border: none;
											border: 1px dashed rgb(151, 71, 255);
											transition: all 0.5s ease-in;
										}
									}
								}
							}
							.info_product {
								display: flex;
								flex-direction: column;
								gap: 10px;
								.div_screen {
									display: flex;
									align-items: center;
									gap: 4px;
									@media (max-width: 800px) {
										width: 100%;
									}
									@media (max-width: 390px) {
										gap: 2px;
										flex-wrap: wrap;
									}
									p {
										color: rgb(145, 150, 158);
										font-size: clamp(10px, 4vw, 16px);
									}
									h4 {
										color: rgb(41, 41, 41);
										font-size: clamp(10px, 5vw, 16px);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.modal_img {
	width: 470px;
	height: 264px;
	@media (max-width: 600px) {
		width: 100%;
		height: 245px;
	}
}
