@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}
ul,
ol {
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
html {
	color-scheme: dark;
}
body {
	font-family: 'Inter', sans-serif;
	background: #ffff !important;
	color: black !important;
}
.container {
	width: 100%;
	max-width: 1570px;
	margin-inline: auto;
	padding-inline: 20px;
}
