.sort_div {
  // display: flex;
  // justify-content: flex-end;
  // align-items: flex-end;
	// @media (max-width: 760px) {
	// 	display: flex;
	// }
	.sortirovat {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
<<<<<<< HEAD
=======
@media (max-width: 827.20px) {
  .sortDiv {
    margin-right: 65px;

    @media (max-width: 672px) {
      margin-right: 280px;
    }
    @media (max-width: 494.40px) {
      margin-top: 10px;       
      margin-left: 10px;
    }
  }
 p {
  font-size: 13px;
  @media (max-width: 494.40px) {
    font-size: 11px;        
  }
 }
}

>>>>>>> aaf5a31812061a7903f287570910415615b2a773
