.sort_div {
  // display: flex;
  // justify-content: flex-end;
  // align-items: flex-end;
	// @media (max-width: 760px) {
	// 	display: flex;
	// }
	.sortirovat {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
