.FavoriteSection {
	width: 100%;
	height: auto;
	background: rgb(244, 244, 244);
	.content {
		display: flex;
		flex-direction: column;
		padding-top: 55px;
		padding-bottom: 110px;
		gap: 31.5px;
		@media (max-width: 1200px) {
			padding-top: 40px;
			padding-bottom: 90px;
		}
		@media (max-width: 850px) {
			padding-top: 25px;
			padding-bottom: 45px;
		}
		.content_products_page {
			display: flex;
			align-items: center;
			gap: 5px;
			@media (max-width: 768px) {
				gap: 2.5px;
			}
			.text_home_user_page {
				cursor: pointer;
				color: rgb(145, 150, 158);
				font-size: clamp(8px, 4vw, 14px);
			}
			p {
				color: rgba(56, 66, 85, 0.6);
				font-size: clamp(8px, 4vw, 14px);
			}
		}
		.div_for_text_and_border {
			display: flex;
			flex-direction: column;
			gap: 18px;
			width: 100%;
			@media (max-width: 768px) {
				gap: 10px;
			}
			h2 {
				font-size: clamp(15px, 5vw, 28px);
				color: rgb(41, 41, 41);
			}
			.border {
				width: 100%;
				border: 1px solid #cdcdcd;
				@media (max-width: 768px) {
					border: 0.5px solid #cdcdcd;
				}
			}
		}
		.photo_div {
			display: flex;
			justify-content: center;
			width: 100%;
			img {
				width: 100%;
				max-width: 400px;
				cursor: pointer;
			}
		}
		.text_after_img {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 19px;
			@media (max-width: 768px) {
				gap: 11px;
			}
			h3 {
				color: rgb(41, 41, 41);
				font-size: clamp(11px, 5vw, 23px);
				font-weight: 500;
			}
			.texts_div {
				display: flex;
				flex-direction: column;
				align-items: center;
				@media (max-width: 540px) {
					align-items: start;
				}
				p {
					color: rgb(41, 41, 41);
					font-size: clamp(8px, 4vw, 18px);
					font-weight: 400;
				}
			}
			button {
				padding: 10px 24px;
				border: none;
				border-radius: 5px;
				background: #cb11ab;
				font-weight: 600;
				cursor: pointer;
				color: rgb(255, 255, 255);
				font-size: clamp(8px, 6vw, 16px);
				@media (max-width: 550px) {
					padding: 7px, 20px;
				}
			}
		}
		.container_products_favorite {
			display: flex;
			flex-direction: column;
			gap: 30px;
			@media (max-width: 850px) {
				gap: 20px;
			}
			@media (max-width: 600px) {
				gap: 15px;
			}
			.icon_and_text_div {
				display: flex;
				align-items: center;
				gap: 5px;
				@media (max-width: 650px) {
					gap: 3px;
				}
				p {
					color: rgb(41, 41, 41);
					font-size: clamp(8px, 4vw, 14px);
					cursor: pointer;
				}
			}
			.container_products {
				display: flex;
				flex-wrap: wrap;
				// justify-content: center;
				gap: 37px;
				@media (max-width: 1266px) {
					justify-content: center;
				}
				@media (max-width: 988px) {
					gap: 11px;
				}
				@media (max-width: 600px) {
					gap: 12px;
				}
				.container_product {
					width: 275px;
					height: 442px;
					border-radius: 4px;
					background: rgb(255, 255, 255);
					@media (max-width: 535px) {
						height: auto;
					}
					.content_product {
						padding: 10px 13px 18px 13px;
						display: flex;
						flex-direction: column;
						gap: 10px;
						width: 100%;
						@media (max-width: 875px) {
							gap: 17px;
							padding: 8px 10px 15px 10px;
						}
						@media (max-width: 585px) {
							gap: 7px;
							padding: 5px 6px 12px 6px;
						}
						.product_basket_and_favorite_buttons_and_photo {
							display: flex;
							justify-content: space-between;
							align-items: center;
							img {
								width: 33px;
								height: 33px;
								border-radius: 50%;
							}
							.div_icons {
								display: flex;
								align-items: center;
								gap: 12px;
								button {
									width: 26px;
									border: none;
									background: transparent;
									color: gray;
								}
								.scale {
									cursor: pointer;

									&.active {
										color: #cb11ab;
										transition: all 0.5s ease-in;
									}
								}
								.heart {
									cursor: pointer;
								}
							}
						}
						.photo_div {
							text-align: center;
							img {
								width: 90%;
								max-width: 190px;
								height: 250px;
							}
						}
						.products_name_and_rating {
							display: flex;
							flex-direction: column;
							align-items: start;
							gap: 6px;
							.text_stock {
								color: rgb(47, 197, 9);
								font-size: clamp(7px, 5vw, 12px);
							}
							.product_name {
								color: rgb(41, 41, 41);
								font-size: clamp(9px, 5vw, 16px);
							}
							p {
								display: flex;
								align-items: center;
								gap: 5.5px;
							}
						}
						.div_for_product_prices_and_basket_button {
							display: flex;
							justify-content: space-between;
							align-items: center;
							.prices_div_product {
								display: flex;
								flex-direction: column;
								h2 {
									color: rgb(26, 26, 37);
									font-size: clamp(9px, 7vw, 18px);
								}
								p {
									color: rgb(133, 143, 164);
									text-decoration: line-through;
									font-size: clamp(7px, 4vw, 16px);
								}
							}
							.button_for_basket_div_noo_active {
								&.button_for_basket_div_active {
									margin-top: 9.3px;
								}
								.add_bas_button_active {
									cursor: pointer;
									border-radius: 4px;
									padding: 10px 17px 10px 17px;
									background: #2fc509;
									color: #ffffff;
									font-family: Inter;
									font-size: 12px;
									border: none;
									font-weight: 500;
									line-height: 17px;
									letter-spacing: 0%;
									text-align: center;
									text-transform: uppercase;
									@media (max-width: 600px) {
										padding: 8px 15px 8px 15px;
									}
									@media (max-width: 550px) {
										padding: 5px 10px 5px 10px;
										font-size: 10px;
										font-weight: 400;
									}
								}
								.add_bas_button {
									cursor: pointer;
									border: 1px solid #cb11ab;
									border-radius: 4px;
									padding: 10px 17px 10px 17px;
									background: #cb11ab;
									color: #ffffff;
									font-family: Inter;
									font-size: 12px;
									font-weight: 500;
									line-height: 17px;
									letter-spacing: 0%;
									text-align: center;
									text-transform: uppercase;
									@media (max-width: 600px) {
										padding: 8px 15px 8px 15px;
									}
									@media (max-width: 550px) {
										padding: 5px 10px 5px 10px;
										font-size: 10px;
										font-weight: 400;
									}
									&.active {
										background: #2fc509;
										color: white;
										border: none;
										border: 1px dashed #9747ff;
									}
									&:hover {
										color: white;
										border: none;
										border: 1px dashed #9747ff;
										transition: all 0.5s ease-in;
									}
								}
							}
						}
					}
				}
			}
			.button_div {
				display: flex;
				justify-content: center;
				align-items: center;
				.button {
					border: 1px solid rgb(203, 17, 171);
					border-radius: 4px;
					background: transparent;
					color: rgb(203, 17, 171);
					font-size: clamp(8px, 6vw, 16px);
					font-weight: 600;
					display: flex;
					justify-content: center;
					align-items: center;
					&:hover {
						transition: all 0.3s ease;
						background: rgb(203, 17, 171);
						color: #fff;
					}
				}
			}
		}
	}
}
