.FavoriteSection {
	width: 100%;
	height: auto;
	background: rgb(244, 244, 244);
	.content {
		display: flex;
		flex-direction: column;
		padding-top: 55px;
		padding-bottom: 110px;
		gap: 31.5px;
		@media (max-width: 1200px) {
			padding-top: 40px;
			padding-bottom: 90px;
		}
		@media (max-width: 850px) {
			padding-top: 25px;
			padding-bottom: 45px;
		}
		.content_products_page {
			display: flex;
			align-items: center;
			gap: 5px;
			@media (max-width: 768px) {
				gap: 2.5px;
			}
			.text_home_user_page {
				cursor: pointer;
				color: rgb(145, 150, 158);
				font-size: clamp(8px, 4vw, 14px);
			}
			p {
				color: rgba(56, 66, 85, 0.6);
				font-size: clamp(8px, 4vw, 14px);
			}
		}
		.div_for_text_and_border {
			display: flex;
			flex-direction: column;
			gap: 18px;
			width: 100%;
			@media (max-width: 768px) {
				gap: 10px;
			}
			h2 {
				font-size: clamp(15px, 5vw, 28px);
				color: rgb(41, 41, 41);
			}
			.border {
				width: 100%;
				border: 1px solid #cdcdcd;
				@media (max-width: 768px) {
					border: 0.5px solid #cdcdcd;
				}
			}
		}
		.photo_div {
			display: flex;
			justify-content: center;
			width: 100%;
			img {
				width: 100%;
				max-width: 400px;
				cursor: pointer;
			}
		}
		.text_after_img {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 19px;
			@media (max-width: 768px) {
				gap: 11px;
			}
			h3 {
				color: rgb(41, 41, 41);
				font-size: clamp(11px, 5vw, 23px);
				font-weight: 500;
			}
			.texts_div {
				display: flex;
				flex-direction: column;
				align-items: center;
				@media (max-width: 540px) {
					align-items: start;
				}
				p {
					color: rgb(41, 41, 41);
					font-size: clamp(8px, 4vw, 18px);
					font-weight: 400;
				}
			}
			button {
				padding: 10px 24px;
				border: none;
				border-radius: 5px;
				background: #cb11ab;
				font-weight: 600;
				cursor: pointer;
				color: rgb(255, 255, 255);
				font-size: clamp(8px, 6vw, 16px);
				@media (max-width: 550px) {
					padding: 7px, 20px;
				}
			}
		}
		.container_products_favorite {
			display: flex;
			flex-direction: column;
			gap: 30px;
			@media (max-width: 850px) {
				gap: 20px;
			}
			@media (max-width: 600px) {
				gap: 15px;
			}
			.icon_and_text_div {
				display: flex;
				align-items: center;
				gap: 5px;
				@media (max-width: 650px) {
					gap: 3px;
				}
				p {
					color: rgb(41, 41, 41);
					font-size: clamp(8px, 4vw, 14px);
					cursor: pointer;
				}
			}
			.container_products {
				display: flex;
				flex-wrap: wrap;
				gap: 7px;
				@media (max-width: 1266px) {
					justify-content: center;
				}
				@media (max-width: 988px) {
					gap: 11px;
				}
				@media (max-width: 600px) {
					gap: 12px;
				}
				.container_product {
					width: 295px;
					height: 457px;
					// height: auto;
					border-radius: 4px;
					background: rgb(255, 255, 255);
					@media (max-width: 535px) {
						height: auto;
					}
					.content_product {
						padding: 10px 13px 20px 13px;
						display: flex;
						flex-direction: column;
						gap: 14px;
						width: 100%;
						@media (max-width: 875px) {
							gap: 10px;
							padding: 8px 10px 17px 10px;
						}
						@media (max-width: 585px) {
							gap: 7px;
							padding: 6px 8px 15px 8px;
						}
						.product_basket_and_favorite_buttons_and_photo {
							display: flex;
							justify-content: space-between;
							align-items: center;
							img {
								width: 36px;
								height: 36px;
								border-radius: 50%;
							}
							.div_icons {
								display: flex;
								align-items: center;
								gap: 15px;
							}
						}
						.photo_div {
							text-align: center;
							img {
								width: 90%;
								max-width: 180px;
								height: auto;
							}
						}
						.products_name_and_rating {
							display: flex;
							flex-direction: column;
							align-items: start;
							gap: 8px;
							.text_stock {
								color: rgb(47, 197, 9);
								font-size: clamp(7px, 5vw, 12px);
							}
							.product_name {
								color: rgb(41, 41, 41);
								font-size: clamp(9px, 5vw, 16px);
							}
							p {
								display: flex;
								align-items: center;
								gap: 5.5px;
							}
						}
						.div_for_product_prices_and_basket_button {
							display: flex;
							justify-content: space-between;
							align-items: center;
							.prices_div_product {
								display: flex;
								flex-direction: column;
								h2 {
									color: rgb(26, 26, 37);
									font-size: clamp(9px, 7vw, 18px);
								}
								p {
									color: rgb(133, 143, 164);
									text-decoration: line-through;
									font-size: clamp(7px, 4vw, 16px);
								}
							}
							.noo_active_basket_button {
								transition: all 0.4s ease;
								padding-block: 12px;
								padding-inline: 18px;
								display: flex;
								align-items: center;
								gap: 6px;
								border-radius: 4px;
								background: rgb(203, 17, 171);
								color: rgb(255, 255, 255);
								font-size: clamp(7px, 4vw, 14px);
								border: none;
								&:hover {
									transition: all 0.4s ease;
									border: 1px dashed rgb(151, 71, 255);
								}
								&.active_basket_button {
									transition: all 0.4s ease;
									padding-block: 12px;
									padding-inline: 18px;
									display: flex;
									align-items: center;
									gap: 6px;
									border-radius: 4px;
									background: rgb(47, 197, 9);
									color: rgb(255, 255, 255);
									font-size: clamp(7px, 4vw, 14px);
									border: 1px dashed rgb(151, 71, 255);
								}
							}
						}
					}
				}
			}
			.button_div {
				text-align: center;
				.button {
					border: 1px solid rgb(203, 17, 171);
					border-radius: 4px;
					background: transparent;
					color: rgb(203, 17, 171);
					font-size: clamp(8px, 6vw, 16px);
					font-weight: 600;
					&:hover {
						transition: all 0.3s ease;
						background: rgb(203, 17, 171);
						color: #fff;
					}
				}
			}
		}
	}
}
