scss 
.custom_input_error {
  border-radius: 6px;
  padding: 8px 18px;
  border: 1px solid rgba(241, 0, 0, 1);
  color: #000000;
  background-color: #F6F6F6;

  &:focus {
    outline: none;
    border: 1px solid rgba(241, 0, 0, 1);
  }

  &::placeholder {
    color: #909CB5;
  }
}
