.basketContainer {
	.basketContents {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		// align-items: center;
		@media (max-width: 911px) {
			gap: 2rem;
		}
		.divCards {
			width: 60rem;
			// height: 34.3rem;
			border-radius: 4px;
			background-color: #ffffff;
			// background-color: black;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			padding-block: 2rem;
			padding-inline: 2rem;
			box-shadow: 0px 0px 6px black;
			@media (max-width: 911px) {
				width: 50rem;
				padding-inline: 2rem;
				padding-block: 2rem;
				gap: 1rem;
			}
			@media (max-width: 800px) {
				width: 45rem;
				padding-inline: 1.5rem;
				padding-block: 1.5rem;
				gap: 0.8rem;
			}
			@media (max-width: 700px) {
				width: 40rem;
				padding-inline: 1rem;
				padding-block: 1rem;
				gap: 0.6rem;
			}

			@media (max-width: 630px) {
				display: flex;
				flex-direction: column;
				align-items: start;

				width: 34rem;
				padding-inline: 1rem;
				padding-block: 1rem;
				gap: 0.5rem;
			}
			@media (max-width: 585px) {
				display: flex;
				flex-direction: column;
				align-items: start;

				width: 31rem;
				padding-inline: 0.5rem;
				padding-block: 1rem;
				gap: 0.5rem;
			}
			@media (max-width: 540px) {
				width: 27rem;
				padding-inline: 0.5rem;
				padding-block: 1rem;
				gap: 0.5rem;
			}
			@media (max-width: 460px) {
				width: 23rem;
				padding-inline: 0.5rem;
				padding-block: 1rem;
				gap: 0.4rem;
			}
			@media (max-width: 390px) {
				width: 21rem;
				padding-inline: 0.4rem;
				padding-block: 1rem;
				gap: 0.4rem;
			}
			img {
				@media (max-width: 730px) {
					width: 20%;
					height: auto;
				}
				@media (max-width: 600px) {
					position: relative;
					width: 40%;
					left: 7rem;
				}
			}
			.producDiv {
				display: flex;
				gap: 5rem;
				align-items: center;
				@media (max-width: 911px) {
					gap: 3rem;
				}
				@media (max-width: 800px) {
					gap: 3rem;
				}
				@media (max-width: 568px) {
					display: flex;
					flex-direction: column;
					gap: 1rem;
				}
				.contentsProducDiv2 {
					display: flex;
					flex-direction: column;
					align-items: start;
					// justify-content: center;
					gap: 0.8rem;
					@media (max-width: 700px) {
						gap: 0.5rem;
					}
					@media (max-width: 568px) {
						align-items: center;
						display: flex;
					}
					h2 {
						font-size: clamp(0.6rem, 4vw, 1.2rem);
						color: #292929;
					}
					.p {
						color: #909cb5;
						font-size: clamp(0.4rem, 3vw, 0.8rem);
					}
					p {
						color: #3cde14;
						font-size: clamp(0.4rem, 3vw, 0.8rem);
					}
					h3 {
						color: #384255;
						font-size: clamp(0.5rem, 2vw, 0.9rem);
					}
				}
				.contentsProducDiv3 {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					gap: 3rem;
					@media (max-width: 715px) {
						display: flex;
						gap: 1rem;
					}
					.productCounts {
						display: flex;
						align-items: center;
						gap: 0.7rem;
						margin-top: 1rem;
						@media (max-width: 715px) {
							margin-top: 0.5rem;
							gap: 0.6rem;
						}
						button {
							border-radius: 50%;
							border: 1px solid #909cb5;
							background-color: transparent;
							color: #384255;
							font-size: 1rem;
							font-weight: 500;
							padding: 2px, 10px, 4px, 10px;
						}
						span {
							color: #909cb5;
							font-size: clamp(0.8rem, 3vw, 1.1rem);
						}
						p {
							margin-left: 1rem;
							color: #292929;
							font-size: clamp(0.7rem, 8vw, 1.1rem);
							// font-weight: 700;
						}
					}
					.ProductResult {
						display: flex;
						align-items: center;
						// justify-content: end;
						gap: 11px;
						@media (max-width: 768px) {
							gap: 7rem;
						}
						@media (max-width: 715px) {
							gap: 5rem;
						}
						@media (max-width: 650px) {
							display: flex;
							justify-content: space-between;
						}
						@media (max-width: 550px) {
							display: flex;
							justify-content: space-between;
						}
						p {
							.img {
								@media (max-width: 715px) {
									width: 14px;
									height: auto;
								}
							}
							display: flex;
							align-items: center;
							color: #909cb5;
							font-size: clamp(0.6rem, 4vw, 0.8rem);
						}
					}
				}
			}
		}
	}
}
